li a, .dropbtn {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;

}

/*Nav Font Responsive*/
@media screen and (min-width:873px) and (max-width:950px) {
    .dropbtn {
        /*color: red !important;*/
        font-size: 13px !important;

    }
}

@media screen and (min-width:951px) and (max-width:968px) {
    .dropbtn {
        /*color: blue !important;*/
        font-size: 14px !important;

    }
}

/*Nav Font Responsive*/
@media screen and (min-width:969px) and (max-width:1080px) {
    .dropbtn {
        /*color: green !important;*/
        font-size: 15px !important;

    }
}

.dropdown-content {
    margin-top: -1px;
    /*  border: none;*/
    padding: 3px 8px;
    display: none;
    position: absolute;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom: 4px solid #f15a22;
    /* border-bottom-color:#f15a22;*/
    border-left-color:#f15a22;
    border-right-color:#f15a22;
    -webkit-border-radius: 0 6px 6px 6px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown:hover .dropdown-content{
    display: block;
}

.carousel-indicators{
    bottom:1px;
}

.carousel-inner > .carousel-item > img,
.carousel-inner > .carousel-item > a > img {
  width: 900px;
  height: 400px;
  margin: auto;
  border-radius: 0px;

}

.carousel-item > .carousel-caption{
    background: rgba(0, 0, 0, 0.3);
    border-radius:10px;
    padding:7px;
}
.carousel-control{
  width:70px;
}



hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
ul{
    padding-left:15px;
}

@media(max-width:34em) {
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        float:none !important;
    }
    .navbar .collapse.in, .navbar .collapsing  {
        clear:both;
    }
}

.blockquote{
  line-height: 32px;
  font-size: 16px;
  padding: .5rem .5rem;
  margin-bottom: .5rem;
}
div > img{
   border-radius: 5px 5px 5px 5px;
   /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);*/
}

/*
a > img:hover{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
*/
p, #textarea {
  line-height: 30px;
}


/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #f47321;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #f47321; color: #FFF;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: auto;
}

/* Tables*/
table.tableizer-table {
    font-size: 14px;
    border: 1px solid #CCC;
    font-family: Arial, Helvetica, sans-serif;
}
.tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
}
.tableizer-table th {
    background-color: #104E8B;
    color: #FFF;
    font-weight: bold;
    border: 1px solid #FFF;
    text-align: center;
}

/*Staff */
.employee{
    padding-left: 1em;
}

#emp-img{
    margin-right: -9em;
}


#atag li a {
    display: inline-block !important;
    color: #f15a22 !important;
    padding: 0px 0px !important;
    text-decoration: none;

}

/* Carousel Responsive Image*/
.carousel-inner > .carousel-item > img {
    display: block;
    width: 100%;
    height: auto;
}

@media all and (max-width: 500px){
    .carousel-indicators {
        display: none;
    }

    .carousel-item > .carousel-caption{
        background: rgba(0, 0, 0, 0.1);
        border-radius:1px;
        padding:5px;
    }
    .carousel-inner > .carousel-item > .carousel-caption > h2,
    .carousel-inner > .carousel-item > .carousel-caption > a,
    .carousel-inner > .carousel-item > .carousel-caption > a > h2 {
        font-size: 1em;
    }
}


.utsa-social-circle{
    padding-top: 4px !important;
}


.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev {
    display: block
}

.carousel-inner>.active {
    left: 0
}

.carousel-inner>.next,.carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%
}

.carousel-inner>.next {
    left: 100%
}

.carousel-inner>.prev {
    left: -100%
}

.carousel-inner>.next.left,.carousel-inner>.prev.right {
    left: 0
}

.carousel-inner>.active.left {
    left: -100%
}

.carousel-inner>.active.right {
    left: 100%
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    opacity: .5
}

.carousel-control.left {
    background-image: linear-gradient(90deg,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=1)
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: linear-gradient(90deg,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=1)
}

.carousel-control:focus,.carousel-control:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

.carousel-control .icon-next,.carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    font-family: serif;
    line-height: 1
}

.carousel-control .icon-prev {
    left: 50%;
    margin-left: -10px
}

.carousel-control .icon-next {
    right: 50%;
    margin-right: -10px
}

.carousel-control .icon-prev:before {
    content: "\2039"
}

.carousel-control .icon-next:before {
    content: "\203a"
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff
}

#myCarousel h2 {
  color:#f15a22!important;
}
