<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
   <table class="tableizer-table" style="width:70%">
      <thead><tr bgcolor="#EAEA00" style="color:black"><td colspan="4"><div align="center" ><strong>MAT 1093</strong></div></td></tr></thead><tbody>
      <tr align="center" style="font-weight:bold">
         <td>Day</td><td>Time</td><td>Location</td><td>MAP Tutor</td></tr>
         <tr align="center">
           <td>Monday</td><td>2:00 - 2:50p</td><td>JPL 2.01.20</td><td>Daniel</td>
        <tr align="center">
       <td>Wednesday</td><td>1:00 - 1:50p</td><td>JPL 2.01.20</td><td>Daniel</td>
     </tr>
     <tr align="center">
      <td>Friday</td><td>11:00 - 11:50p</td><td>JPL 2.01.20</td><td>Daniel</td>
     </tr>

     <tr bgcolor="#EAEA00" style="color:black"><td colspan="4"><div align="center"><strong>OFFICE HOUR:</strong></div></td></tr>
     <td>Tuesday</td><td>12:00 - 1:00p</td><td>JPL 2.01.12 <br> Qlab</td><td>Daniel</td>
  </tbody>
</table>
<p>&nbsp;</p>
</div>