<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table class="tableizer-table" style="width:70%">
<thead><tr bgcolor="#FF870F" style="color:white"><td colspan="4"><div align="center" ><strong>MAT 1214</strong></div></td></tr></thead><tbody>
 <tr align="center" style="font-weight:bold">
   <td>Day</td><td>Time</td><td>Location</td><td>MAP Tutor</td></tr>
 <tr align="center">
   <td>Monday</td>
   <td></td>
   <td>JPL 2.01.20</td>
   <td></td>
 </tr>
 <tr align="center">
   <td>Wednesday</td>
   <td></td>
   <td>JPL 2.01.20</td>
   <td></td>
 </tr>
 <tr align="center">
   <td>Friday</td>
   <td></td>
   <td>JPL 2.01.20</td>
   <td></td>
 </tr>
 <tr bgcolor="#FF870F" style="color:white"><td colspan="4"><div align="center"><strong>OFFICE HOUR:</strong></div></td></tr>
 <tr align="center">
   <td>Monday</td>
   <td></td>
   <td>JPL 2.01.12</td>
   <td></td>
 </tr>
 </tbody>
</table>
<p>&nbsp;</p>
</div>