<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
   <table class="tableizer-table" style="width:70%">
      <thead><tr bgcolor="#FF5555" style="color:white"><td colspan="4"><div align="center" ><strong>MAT 1043</strong></div></td></tr></thead><tbody>
      <tr align="center" style="font-weight:bold">
         <td>Day</td><td>Time</td><td>Location</td><td>MAP Tutor</td></tr>
         <tr align="center">
            <td>Monday</td><td>12:30 - 1:20p</td><td>JPL 2.01.20</td><td>James</td>
         </tr>
         <tr align="center">
            <td>Wednesday</td><td>12:30 - 1:20p</td><td>JPL 2.01.20</td><td>James</td>
         </tr>
         <tr align="center">
            <td>Thursday</td><td>12:30 - 1:20p</td><td>JPL 2.01.20</td><td>James</td>
         </tr>
         <tr bgcolor="#FF5555" style="color:white"><td colspan="4"><div align="center"><strong>OFFICE HOUR:</strong></div></td></tr>
         <tr align="center">
            <td>Wednesday</td><td>2:00 - 3:00p</td><td>JPL 2.01.12 <br> Qlab</td><td>James</td>
         </tr>
      </tbody>
   </table>
   <p>&nbsp;</p>
</div>