<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table class="tableizer-table" style="width:70%">
<thead><tr bgcolor="#4646FF" style="color:white"><td colspan="4"><div align="center" ><strong>MAT 1073</strong></div></td></tr></thead><tbody>
 <tr align="center" style="font-weight:bold">
   <td>Day</td><td>Time</td><td>Location</td><td>MAP Tutor</td></tr>
 <tr align="center">
   <td>Monday</td><td>1:00 - 1:50p</td><td>JPL 2.01.20</td><td>Nacho</td>
 </tr>
 <tr align="center">
   <td>Tuesday</td><td>1:00 - 1:50p</td><td>JPL 2.01.20</td><td>Nacho</td>
 </tr>
 <tr align="center">
   <td>Wednesday</td><td>3:00 - 3:50p</td><td>JPL 2.01.20</td><td>Nacho</td>
 </tr>
     
 <tr bgcolor="#4646FF" style="color:white"><td colspan="4"><div align="center"><strong>OFFICE HOUR:</strong></div></td></tr>
 <tr align="center">
   <td>Wednesday</td><td>11:30 - 12:30p</td><td>JPL 2.01.13A</td><td>Nacho</td>
 </tr>
 </tbody>
</table>
<p>&nbsp;</p>
</div>