table.plain-table{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.plain-table th{
	font-weight: bold;
	text-align: center;
}
.plain-table td, .plain-table th{
	margin: 3px;
	padding: 10px;
}

.no-bullets li{
	list-style-type: none;
}

#row-align tr{
	text-align: left;
}