
<div id="global-footer">
    <section id="globalFooterContainer" class="text-xs-center">
        <div class="container">
            <div class="row">
                <div itemscope="" itemtype="http://schema.org/Organization" class="col-md-12 text-xs-center" style="text-align:center;">
                    <p class="info" style="font-size:16px;"><span itemprop="name">The University of Texas at San Antonio <span class="pipes"> | </span> Tom&#225;s Rivera Center</span><span class="pipes"> | </span><span itemprop="address">One UTSA Circle San Antonio, TX 78249</span> <span class="pipes"> | </span> <span itemprop="telephone">Information <a href="tel:210-458-4694" style="color:white;">210-458-4694</a></span></p>
                </div>

            </div>
        </div>
    </section>
<section id="globalFooterContainer" class="text-xs-center">
  <div class="container">
    <div class="row">
      <div itemscope="" itemtype="http://schema.org/Organization" class="col-md-8 text-md-left">
        <p class="info">© 2016 <span itemprop="name">The University of Texas at San Antonio</span><span class="pipes">&nbsp;|&nbsp;</span><span itemprop="address">One UTSA Circle San Antonio, TX 78249</span><span class="pipes">&nbsp;|&nbsp;</span>Information <span itemprop="telephone"><a href="tel:210-458-4011" style="color:white;">210-458-4011</a></span></p>
        <nav id="globalFooterNav"><a href="http://alerts.utsa.edu/">Campus Alerts</a><span class="pipes"> | </span><a href="http://www.utsa.edu/job.html">Jobs</a><span class="pipes"> | </span><a href="http://www.utsa.edu/policies/reqlinks.html">Required Links</a><span class="pipes"> | </span><a href="http://www.utsa.edu/policies">Policies</a><span class="pipes"> | </span><a href="http://www.utsystem.edu/">UT System</a><span class="pipes"> | </span><a href="http://www.utsa.edu/Compliance/Hotline.html">Report Fraud</a></nav>

      </div>
      <div class="col-md-4 text-xs-center text-md-right">
        <nav id="socialNav">
          <a href="https://www.facebook.com/utsa"><i class="fa fa-facebook utsa-social-circle" aria-hidden="true"></i></a>
          <a href="https://twitter.com/utsa"><i class="fa fa-twitter utsa-social-circle" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/user/utsa"><i class="fa fa-youtube-play utsa-social-circle" aria-hidden="true"></i></a>
          <a href="http://www.linkedin.com/edu/the-university-of-texas-at-san-antonio-19521"><i class="fa fa-linkedin-square utsa-social-circle" aria-hidden="true"></i></a>
          <a href="https://instagram.com/utsa"><i class="fa fa-instagram utsa-social-circle" aria-hidden="true"></i></a>
        </nav>
      </div>
    </div>
  </div>

</section>
</div>

    <!-- activate typekit -->
    <script src="/trcss/_files/js/typekit.js"></script>
    <!--GOBAL UTSA SCRIPT - DO NOT REMOVE-->
    <!-- this includes JQuery, Bootstrap.js, tether.js, slick.js -->
    <script type="text/javascript" src="/trcss/_files/js/global.min.js"></script>
    <!-- LOCAL PROJECT BOWER INCLUDES -->
