<!--global banner start-->
<!--#include virtual="/_files/global-header-012019.html" -->
<!--global banner end-->
<section>
  <div class="container" align="center">
    <a href="/trcss/" class="">
      <img src="/trcss/img/trcbanner.png" width="80%" height="80%" alt="TomÃ¡s Rivera Center">
    </a>
  </div>
</section>
<section class="container" id="site-navigation">
  <div class="containerWrapper">
    <div class="row navbar-expand">
      <div class="col-12 navbar-nav-scroll">
        <ul class="pl-1 pl-md-2 pl-lg-4 navbar-nav d-block" id="departmentalPageNav">
          <li class="nav-item">
            <a href="/trcss/">TRC Student Success</a>
            <ul>
              <li>
                <a href="/trcss/" class="dropdown-item" style="padding:5px;">Home</a>
                <a href="/trcss/staff.html" class="dropdown-item" style="padding:5px;">Staff</a>
                <a href="/trcss/tomasrivera.html" class="dropdown-item" style="padding:5px;">Tom&aacute;s Rivera</a>
                <a href="/trcss/contact.html" class="dropdown-item" style="padding:5px;">Contact Us</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="/trcss/ace/">Access College &amp; Excel</a>
            <ul>
              <li>
                <a href="/trcss/ace/" class="dropdown-item" style="padding:5px;">Program Overview</a>
                <a href="/trcss/ace/application.html" class="dropdown-item" style="padding:5px;">Application</a>
                <a href="/trcss/ace/quotes.html" class="dropdown-item" style="padding:5px;">Student Quotes</a>
                <a href="/trcss/ace/gallery.html" class="dropdown-item" style="padding:5px;">Gallery</a>
                <a href="/trcss/asc/resources.html" class="dropdown-item" style="padding:5px;">TRC Resources</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="/trcss/la/">Academic Success Coaching</a>
            <ul>
              <li>
                <a href="/trcss/asc/" class="dropdown-item" style="padding:5px;">Program Overview</a>
                <a href="/trcss/asc/academic.html" class="dropdown-item" style="padding:5px;">Academic Coaching</a>
                <a href="/trcss/asc/workshops.html" class="dropdown-item" style="padding:5px;">Workshops</a>
                <a href="/trcss/asc/apc/index.html" class="dropdown-item" style="padding:5px;">Academic Peer Coaching</a>
                <a href="/trcss/asc/resources.html" class="dropdown-item" style="margin-top:-1px; padding:5px;">TRC Resources</a>
                <a href="/trcss/asc/professional.html" class="dropdown-item" style="margin-top:-1px; padding:5px;">Professional Resources</a>
                <a href="/trcss/asc/online.html" class="dropdown-item" style="margin-top:-1px; padding:5px;">Online Resources</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="/trcss/si/">Supplemental Instruction</a>
            <ul>
              <li>
                <a href="/trcss/si/" class="dropdown-item" style="padding:5px;">Program Overview</a>
                <a href="/trcss/si/schedule.html" class="dropdown-item" style="padding:5px;">SI Leader Schedule</a>
                <a href="/trcss/si/courses.html" class="dropdown-item" style="padding:5px;">Supported Courses</a>
                <a href="/trcss/si/application.html" class="dropdown-item" style="padding:5px;">Become an SI Leader</a>
                <a href="/trcss/asc/resources.html" class="dropdown-item" style="padding:5px;">TRC Resources</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="/trcss/tutoring/">Tutoring Services</a>
            <ul>
              <li>
                <a href="/trcss/tutoring/" class="dropdown-item" style="padding:5px;">Program Overview</a>
                <a href="/trcss/tutoring/schedule.html" class="dropdown-item" style="padding:5px;">Tutoring Times</a>
                <a href="/trcss/tutoring/programs/" class="dropdown-item" style="padding:5px;">Programs</a>
                <a href="/trcss/tutoring/application.html" class="dropdown-item" style="padding:5px;">Become a Tutor</a>
                <a href="/trcss/asc/resources.html" class="dropdown-item" style="padding:5px;">TRC Resources</a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>
