/*
 * SoftChalk LessonBuilder StyleSheet (C)2008
 * SoftChalk LLC, www.softchalk.com
 *
 * Banner Style Constants
 */

/* Floating score window  */
#floatingscore {
	font-size: 90%;
	position: absolute;
	padding: 2px;
	width: 60px;
	visibility: hidden;
	z-index: 100;
}

/* CONTENT WRAP  */
/* contentWrap is a container to hold the sidebar and content divs */
/* can also hold an image for the background color of sidebars */
#contentWrap {
	margin: 0;
	padding: 0;
}
/* contentWrap2 is a container to hold the content div on pages with no sidebars */
/* needed when there is a contentWrap sidebar background image */
#contentWrap2 {
	margin: 0;
	padding: 0;
}

/* here follows the brillant "no-extra-markup" clearing method devised by Tony Aslett - www.csscreator.com */
/* simply add the clearfix class to any containter that must enclose floated elements */
/* read the details of how and why this works at http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
	content: ".";					/* the period is placed on the page as the last thing before the div closes */
	display: block;				/* inline elements don't respond to the clear property */
	height: 0;						/* ensure the period is not visible */
	clear: both;					/* make the container clear the period */
	visibility: hidden;		/* further ensures the period is not visible */
}

.clearfix {display: inline-block;}   /* a fix for IE Mac */

/* next a fix for the dreaded Guillotine bug in IE6 */
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* end of "no-extra-markup" clearing method */


body {
	margin: 0;
	padding: 0;
	font-size: 100%;
}


/*  BANNER STYLES  */
#banner {
	height: auto;
	margin: 0;
	padding: 0;
}

#banner p {
	margin: 0;
	line-height: 1.2em;
	letter-spacing: 0.01em;
}

#banner p.line2 {
	margin: 0;
	line-height: 1.2em;
	letter-spacing: 0.01em;
}


/*  NAV BAR STYLES  */
div#nav {
	margin: 0;
	padding: .25em 3em;
	text-align: left;
	font: 0.85em Arial, Verdana, sans-serif;
}

div#nav ul {
	margin: 0 0 0 .3em;
	padding: 0;
}

div#nav li {
	margin: 0;
	padding: 0;
	display: inline;
	font-weight: bold;
}

div#nav li a {
	padding: 0;
	margin: 0;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
}

div#nav li a:hover {
	font-weight: bold;
}

div#nav ul li.arrowprev a {
	font-weight: bold;
	margin-left: 5px;
	padding-left: 1.5em;
	padding-right: .25em;
	background: url(submenu-rt_custom.png) 5% 50% no-repeat;
}

div#nav ul li.arrownext a {
	font-weight: bold;
	margin-left: 5px;
	padding-left: .25em;
	padding-right: 1.5em;
	background: url(submenu_custom.png) 95% 50% no-repeat;
}


/*  TABLE OF CONTENT NAVIGATION BAR STYLES  */
div#navtoc {
	float: left;
	margin: -2px 0 0 .3em;
}

div#navtoc ul {
	margin: 0;
	padding: 0;
	border-width: 0 1px;
	border-style: solid;
}

div#navtoc li {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 7em;
	line-height: 1em;
	z-index: 105;
	border-right: none;
}

div#navtoc li.submenu {
	background: url(dropmenu_custom.png) 95% 50% no-repeat;
}

div#navtoc li.submenu:hover {
	background: url(dropmenu_custom.png) 95% 50% no-repeat;
}

div#navtoc li a {
	display: block;
	padding: 0.25em 0 0.25em 0.5em;
	text-decoration: none;
	text-align: left;
	width: 6.5em;
	background-color: transparent;
	font-weight: bold;
}

div#navtoc ul a {
	width: auto;
}

div#navtoc ul ul {
	position: absolute;
	width: 7em;
	display: none;
}

div#navtoc ul ul ul li {
	border-bottom: none;
}

div#navtoc li.submenu li.submenu {
	background: url(submenu_custom.png) 95% 50% no-repeat;
}

div#navtoc ul.level1 li.submenu:hover ul.level2,
div#navtoc ul.level2 li.submenu:hover ul.level3 {
	display:block;
}

div#navtoc ul.level2 li.submenu:hover ul.level3 li a{
	width: 9.6em;
}

div#navtoc ul.level2 {
	top: 1.3em;
	left: -1px;
}

div#navtoc ul.level3 {
	top: -1px;
	left: 7em;
	width: 10em;
}


/*  TOC ENTRY PAGE STYLE  */
#toc_entry dd {
	margin: 5px 0 0 20px;
}

#toc_entry a {
	text-decoration: none;
}


/*  CONTENT STYLES  */
#content {
	padding-top: .3em;
	line-height: 120%;
}

#content li {
	font-size: .9em;
}

p {
	font-size: 1.2em;
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1em;
}

h1, h2, h3 {
	line-height: 1.1em;
}

hr {
	width: 100%;
	height: 2px;
	border: 0px none !important;
}

.nav2 {
	font: 0.85em Arial, Verdana, sans-serif;
}

.nav2 a {
	text-decoration: none;
}

.nav2 a:hover {
	text-decoration: underline;
}

.nav2 a:visited:hover {
	text-decoration: underline;
}


/*  CONTENT 2 STYLES  */
#content2 {
	margin: 0em 4em 0 6em;
	padding-top: .3em;
padding-right: 40px;
	line-height: 120%;
}


/*  SIDEBAR STYLES  */
#sidebar {
	font-family: Arial, Verdana, sans-serif;
	position: relative;
	width: 165px;
	height: 100%;
	text-align: left;
	font-size: 80%;
}

#sidebar a {
	font-weight: bold;
	background-color: transparent;
	text-decoration: none;
}

#sidebar a:link {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: none;
}

#sidebar h3 {
	margin: 0;
	padding: 0;
	font-size: 135%;
	text-align: center;
}

/* Hide from IE5 Mac Only IE win sees the Holly Hack \ */
* html #sidebar { height: 1%;}
/*end Holly Hack*/

#sidebar div.feature {
	margin-bottom: 10px;
	padding: 10px;
	line-height: 140%;
}

#sidebar div.feature a:hover {
	text-decoration: underline;
}

#sidebar div.feature ul {
	list-style-type: none;
	margin: 0px;
	padding: 0 8px;
}

#sidebar div.feature ul li {
	font-size: .95em;
	margin: 5px 0;
}

#sidebar div.feature2 {
	margin-bottom: 10px;
	padding: 10px;
	line-height: 140%;
}

#sidebar div.feature2 ul {
	margin-left: 12px;
	padding-left: 12px;
}

#sidebar div.feature2 ol {
	margin-left: 12px;
	padding-left: 12px;
}

#sidebar div.feature2 a {
	text-decoration: underline;
}


/*  NAV TOC SIDEBAR (RIGHT & LEFT) */
div#navtocsidebar {
	width: 9em;
}

div#navtocsidebar ul {
	margin: 0;
	padding: 0;
	width: 9em;
}

div#navtocsidebar li {
	position: relative;
	list-style: none;
	margin: 0;
}

div#navtocsidebar li a {
	display: block;
	padding: 0.25em 0 0.25em 0.5em;
	text-decoration: none;
	font-weight: bold;
}

div#navtocsidebar ul a {
	width: auto;
}

div#navtocsidebar ul ul {
	position: absolute;
	margin: 0 -1px 0 0;
	top: 0;
	display: none;
}

div#navtocsidebar ul.level1 li.submenu:hover ul.level2,
div#navtocsidebar ul.level2 li.submenu:hover ul.level3 {
	display:block;
}


/*  FAUX TABLE STYLE  */
.bannerstyletable {
	margin: .1em .5em .1em .5em;
	padding: 0;
	border-spacing: 0;
}

.bannerstyletable td {
	padding: 0 .3em 0 .3em;
	margin: 0px;
}

.bannerstyletable th {
	padding: 0 .3em 0 .3em;
	margin: 0px;
	text-align: left;
}

.bannerstyletable td p {
	margin: .4em 0 .4em 0;
}

.bannerstyletable th p {
	margin: .4em 0 .4em 0;
}

.nonstyledtable {
	border: 1px solid #808080;
	border-spacing: 0;
}

.nonstyledtable td {
	text-align: left;
	font-weight: normal;
	border: 1px solid #808080;
	padding: 0 .3em 0 .3em;
	margin: 0px;
}

.nonstyledtable th {
	text-align: center;
	font-weight: bold;
	border: 1px solid #808080;
	padding: 0 .3em 0 .3em;
	margin: 0px;
}

.nonstyledtable td p {
  margin: .4em 0 .4em 0;
}

.nonstyledtable th p {
  margin: .4em 0 .4em 0;
}


/*  REPORT  */
#report {
	margin: 0 0 30px 0;
}

#report table {
	font-size: 90%;
}

#report table td {
	text-align: center;
	padding: 15px 15px;
}


/*  FOOTER STYLES  */
#footer {
	clear: both;
	padding: 0.1em 0.8em 0.1em 0.8em;
	text-align: right;
	font-size: smaller;
	font-weight: normal;
}

#footer img.footer {
	padding: 5px 5px 0 2.5em;
	float: left;
}

/*  TEXTPOPPER  */
a.textpopper {
	text-decoration: none;
	font-weight: bold;
}


/*  QUIZPOPPER  */
.collapse {
	display: none;
	font-size: .9em;
}

.expand {
	display: block;
	font-size: .9em;
}

.hideqpstuff {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
/*
 * SoftChalk LessonBuilder StyleSheet (C)2008
 * SoftChalk LLC, www.softchalk.com
 *
 * Banner Style Right Constants
 */


/*  CONTENT STYLES  */
#content {
	margin: 0em 204px 0 3em;
}

/*  SIDEBAR STYLES  */
#sidebar {
	float: right;
	margin: 1.75em 10px 0 0;
}

/*  NAV TOC SIDEBAR (RIGHT)  */
div#navtocsidebar {
	text-align: right;
	float: left;
	margin: -1px 0 0 -1px ;
}
div#navtocsidebar li {
	border-width: 1px;
	border-style: solid;
	padding-right: 10px;
}
div#navtocsidebar ul ul {
	right: 9em;
}
div#navtocsidebar li.submenu {
	background: url(submenu-rt_custom.png) 5% 50% no-repeat;
}
div#navtocsidebar li.submenu:hover {
	background: url(submenu-rt_custom.png) 5% 50% no-repeat;
}

/*
 * SoftChalk LessonBuilder StyleSheet (C)2008
 * SoftChalk LLC, www.softchalk.com
 *
 * Banner Style Variables
 */

#floatingscore {
	border: 1px solid #ff8000;
	background-color: #eeeeee;
}

body {
	background: #ffffff;
	color: #000000;
}
a:link {
	color: #ff8000;
}
a:visited {
	color: #ff8000;
}
a:hover {
	color: #78a7c2;
}
a:visited:hover {
	color: #78a7c2;
}

#contentWrap {
	background: transparent url(contentwrap_custom.png) repeat-y top right;
}
#contentWrap2 {
	background-color: transparent;
}

#banner {
	color: #ffffff;
	min-height: 160px;
	_height: 160px;
	background: #012a5e url(extra-img-1.png) no-repeat top left;
}
#banner p {
	font: italic 200% Arial, Verdana, sans-serif;
	font-weight: normal;
	padding: .5em 0.5em 0.0em .5em;
	text-align: right;
}
#banner p.line2 {
	font: italic 125% Arial, Verdana, sans-serif;
	font-weight: normal;
	padding: .5em 0.5em 0.75em .75em;
	text-align: right;
}
div#nav {
	border-bottom: 2px solid #ff8000;
	background-color: #295791;
}
div#nav li {
	color: #ffffff;
}
div#nav li a:link {
	color: #ffffff;
}
div#nav li a:visited {
	color: #ffffff;
}
div#nav li a.navnum:hover {
	background-color: #aaaaaa;
	color: #ffffff;
}
div#nav li.arrowprev a:hover {
	background: #aaaaaa url(submenu-rt_custom.png) 5% 50% no-repeat;
}
div#nav li.arrownext a:hover {
	background: #aaaaaa url(submenu_custom.png) 95% 50% no-repeat;
}

div#printall {
	float: right;
}
div#printall a {
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
	padding-left: .5em;
	padding-right: .5em;
}
div#printall a:hover {
	color: #ffffff;
	background-color: #aaaaaa;
	font-weight: bold;
	text-decoration: none;
}

div#navtoc {
	background-color: #295791;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}
div#navtoc ul {
	background-color: #295791;
	border-color: #ccc;
}
div#navtoc li:hover {
	background-color: #aaaaaa;
}
div#navtoc li.submenu:hover {
	background-color: #aaaaaa;
}
div#navtoc ul ul li {
	border-bottom: 1px solid #ccc;
}
div#navtoc li.submenu li.submenu:hover {
	background-color: #aaaaaa;
}
div#navtoc ul.level2 li.submenu:hover ul.level3 li a{
	border-bottom: 1px solid #ccc;
}
div#navtoc ul.level2 li.submenu:hover ul.level3 li a:hover{
	background-color: #aaaaaa;
}
div#navtoc ul.level3 {
	border-top: 1px solid #ccc;
}

#toc_entry a:hover {
	color: #78a7c2;
}
div#toc_entry dl {
	font-size: .9em;
}

#content {
	font: 1em Arial, Verdana, sans-serif;
}
h1, h2, h3 {
	color: #ff8000;
}
hr {
	color: #ff8000;
	background: #ff8000;
}
.nav2 {
	color: #333;
}
.nav2 a {
	color: #ff8000;
}
.nav2 a:hover {
	color: #78a7c2;
}
.nav2 a:visited {
	color: #ff8000;
}
.nav2 a:visited:hover {
	color: #78a7c2;
}

#content2 {
	font: 1em Arial, Verdana, sans-serif;
}
#content2 li {
	font-size: 1.1em;
}

#sidebar h3 {
	color:  #ffffff;
}
#sidebar div.feature {
	color: #ffffff;
	background-color: #78a7c2;
	border: 1px solid #ffffff;
}
#sidebar div.feature a {
	color: #ffffff;
}
#sidebar div.feature a:link {
	color: #ffffff;
}
#sidebar div.feature a:hover {
	color: #ffffff;
}
#sidebar div.feature a:visited:hover {
	color: #ffffff;
}
#sidebar div.feature ul li {
	border-bottom: #ffffff 1px dashed;
}
#sidebar div.feature2 {
	color: #ffffff;
	background-color: #78a7c2;
	border: 1px solid #ffffff;
}
#sidebar div.feature2 a {
	color: #ffffff;
}
#sidebar div.feature2 a:link {
	color: #ffffff;
}
#sidebar div.feature2 a:hover {
	color: #ffffff;
}
#sidebar div.feature2 a:visited:hover {
	color: #ffffff;
}

div#navtocsidebar a {
	color: #ffffff;
}
div#navtocsidebar a:hover {
	color: #ffffff;
}
div#navtocsidebar a:visited {
	color: #ffffff;
}
div#navtocsidebar a:visited:hover {
	color: #ffffff;
}
div#navtocsidebar ul {
	background-color: #295791;
	border-color: #ccc;
}
div#navtocsidebar li {
	border-color: #ccc;
}
div#navtocsidebar li:hover {
	background-color: #aaaaaa;
}
div#navtocsidebar li.submenu:hover {
	background-color: #aaaaaa;
}

.bannerstyletable {
	border: 1px solid #ff8000;
}
.bannerstyletable td {
	border: 1px solid #ff8000;
}
.bannerstyletable th {
	border: 1px solid #ff8000;
	color: #000000;
	background-color: #ff8000;
}

#report {
	color: #000000;
	font-family: Arial, Verdana, sans-serif;
	border-top: 2px solid #ff8000;
}
#report h3 {
	color: #ff8000;
}
#report table td {
	border: 1px solid #ff8000;
	background: #eeeeee;
}

#footer {
	font-family: Arial, Verdana, sans-serif;
	color: #cccccc;
	background-color: #012a5e;
	border-top: 2px solid #295791;
}
#footer a:link {
	color: #cccccc;
	text-decoration: underline;
}
#footer a:visited {
	color: #cccccc;
	text-decoration: underline;
}
#footer a:hover {
	color: #dddddd;
	text-decoration: underline;
}
#footer a:visited:hover {
	color: #dddddd;
	text-decoration: underline;
}

a.textpopper {
	color: #ff8000;
}
a.textpopper:visited {
	color: #ff8000;
}
a.textpopper:hover {
	color: #78a7c2;
}
a.textpopper:visited:hover {
	color: #78a7c2;
}
