<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table width="705" class="tableizer-table">
<thead>
  <tr class="tableizer-firstrow">
    <th colspan="9">Criminal Justice</th>
    </tr>
  <tr></thead>
  <tbody>
 <tr>
   <td><div align="center"><strong>Subject</strong></div></td><td><div align="center"><strong>Course</strong></div></td>
   <td><div align="center"><strong>Section</strong></div></td>
   <td><div align="center"><strong>Instructor</strong></div></td><td><div align="center"><strong>Day</strong></div></td>
   <td><div align="center"><strong>Start</strong></div></td><td><div align="center"><strong>End</strong></div></td>
   <td><div align="center"><strong>Location</strong></div></td><td><div align="center"><strong>Leader</strong></div></td></tr>
 <tr bgcolor="#DDEBF7"><td>CRJ</td><td>1113</td><td>901</td><td>Meade, Henry</td><td>Mon</td><td>9:30 AM</td><td>10:20 AM</td><td>DB 2.114</td><td>Brooke A.
</td></tr>
<tr><td>CRJ</td><td>1113</td><td>901</td><td>Meade, Henry</td><td>Wed</td><td>9:30 AM</td><td>10:20 AM</td><td>DB 2.114</td><td>Brooke A.
</td></tr>
<tr bgcolor="#DDEBF7"><td>CRJ</td><td>1113</td><td>901</td><td>Meade, Henry</td><td>Wed</td><td>3:00 PM</td><td>3:50 PM</td><td>DB 2.114</td><td>Brooke A.
</td></tr>
<tr><td>CRJ</td><td>1113</td><td>901</td><td>Office Hour</td><td>Thu</td><td>2:45 PM</td><td>3:35 PM</td><td>JPL 4.02.08</td><td>Brooke A.
</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
      
</tbody></table>
<p>&nbsp;</p>
</div>