<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table width="800" class="tableizer-table">
<thead>
  <tr class="tableizer-firstrow">
    <th colspan="9">Geology</th>
    </tr>
  <tr></thead>
  <tbody>
 <tr>
   <td><div align="center"><strong>Subject</strong></div></td><td><div align="center"><strong>Course</strong></div></td>
   <td><div align="center"><strong>Section</strong></div></td>
   <td><div align="center"><strong>Instructor</strong></div></td><td><div align="center"><strong>Day</strong></div></td>
   <td><div align="center"><strong>Start</strong></div></td><td><div align="center"><strong>End</strong></div></td>
   <td><div align="center"><strong>Location</strong></div></td><td><div align="center"><strong>Leader</strong></div></td></tr>
 

      <tr bgcolor="#DDEBF7"><td>GEO</td><td>1013</td><td>901</td><td>Kelley, Jessica</td><td>Tue</td><td>11:00 AM</td><td>11:50 AM</td><td>DB 2.114</td><td>Carolina B.
</td></tr>
<tr><td>GEO</td><td>1013</td><td>901</td><td>Kelley, Jessica</td><td>Tue</td><td>1:30 PM</td><td>2:20 PM</td><td>DB 2.114</td><td>Carolina B.
</td></tr>
<tr bgcolor="#DDEBF7"><td>GEO</td><td>1013</td><td>901</td><td>Kelley, Jessica</td><td>Thu</td><td>11:00 AM</td><td>11:50 AM</td><td>DB 2.114</td><td>Carolina B.
</td></tr>
<tr><td>GEO</td><td>1013</td><td>901</td><td>Office Hour</td><td>Thu</td><td>1:30 PM</td><td>2:20 PM</td><td>DB 2.114 B</td><td>Carolina B.
</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

</tbody></table>
<p>&nbsp;</p>
</div>