<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table width="850" class="tableizer-table">
<thead><tr class="tableizer-firstrow">
  <th colspan="7">Additional Courses</th></tr></thead><tbody>
 <tr><td width="150">&nbsp;</td><td><div align="center"><strong>Monday</strong></div></td><td><div align="center"><strong>Tuesday</strong></div></td><td><div align="center"><strong>Wednesday</strong></div></td><td><div align="center"><strong>Thursday</strong></div></td>
   <td><strong>Friday</strong></td>
   <td><strong>Sunday</strong></td>
 </tr>
 
 <tr bgcolor="#DDEBF7">
   <td>Historical Methods</td>
     <td bgcolor="#DCDCDC"></td>
     <td bgcolor="#DCDCDC"></td>
     <td bgcolor="#DCDCDC"></td>
     <td bgcolor="#DCDCDC"></td>
     <td bgcolor="#DCDCDC"></td>
     <td bgcolor="#DCDCDC"></td>
 </tr>
  <tr bgcolor="#A9A9A9" style="line-height:3px"><td colspan="7">&nbsp;</td></tr>
 <tr>
   <td>Psych Stats</td>
   <td>10:00 - 12:30</td>
   <td>11:30 - 1:00</td>
   <td>10:00 - 12:30</td>
   <td>11:30 - 1:00</td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
 </tr>
  <tr bgcolor="#A9A9A9" style="line-height:3px"><td colspan="7">&nbsp;</td></tr>
 <tr bgcolor="#DDEBF7">
   <td>Intro to Anthropology</td>
   <td>1:15 - 2:45<hr />4:15 - 5:45</td>
   <td>1:15 - 2:45<hr />4:15 - 5:45</td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
   <td>1:15 - 2:15</td>
   <td>1:15 - 2:15</td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
 </tr>
 <tr>
   <td>Physical Anthropology</td>
   <td >1:15 - 2:45<hr />4:15 - 5:45</td>
   <td  >1:15 - 2:45<hr />4:15 - 5:45</td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
   <td  >1:15 - 2:15</td>
   <td >1:15 - 2:15</td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
 </tr>
 <tr bgcolor="#DDEBF7">
   <td>Intro to Archaeology</td>
   <td >1:15 - 2:45<hr />4:15 - 5:45</td>
   <td  >1:15 - 2:45<hr />4:15 - 5:45</td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
   <td  >1:15 - 2:15</td>
   <td >1:15 - 2:15</td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
 </tr>
 <tr>
   <td>Intro to Cultural Anthropology</td>
   <td >1:15 - 2:45<hr />4:15 - 5:45</td>
   <td  >1:15 - 2:45<hr />4:15 - 5:45</td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
   <td  >1:15 - 2:15</td>
   <td >1:15 - 2:15</td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
 </tr>
 <tr bgcolor="#DDEBF7">
   <td>Language, Thought &amp; Culture</td>
   <td >1:15 - 2:45<hr />4:15 - 5:45</td>
   <td  >1:15 - 2:45<hr />4:15 - 5:45</td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
   <td  >1:15 - 2:15</td>
   <td >1:15 - 2:15</td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
 </tr>
</tbody></table>
<p>&nbsp;</p>
</div>