<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table width="900" class="tableizer-table">
<thead><tr class="tableizer-firstrow">
  <th colspan="6">Business  &amp; Statistics Courses</th></tr></thead><tbody>
 <tr><td width="150">&nbsp;</td><td><div align="center"><strong>Monday</strong></div></td><td><div align="center"><strong>Tuesday</strong></div></td><td><div align="center"><strong>Wednesday</strong></div></td>
   <td><strong>Thursday</strong></td>
   <td><strong>Friday</strong></td>
 <tr bgcolor="#DDEBF7">
   <td>Found. of Accounting - ACC 2003</td>
<td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
	<td bgcolor="#DCDCDC"></td>
 </tr>
 <tr>
    <td>Principles of Accounting I - ACC 2013</td>
<td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
	<td bgcolor="#DCDCDC"></td>
 </tr>
 <tr bgcolor="#DDEBF7">
   <td>Principles of Accounting II - ACC 2033</td>
	<td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
	<td bgcolor="#DCDCDC"></td>
 </tr>
   
  <tr bgcolor="#A9A9A9" style="line-height:3px"><td colspan="6">&nbsp;</td></tr>
 
 <tr>
   <td>Economic Princples & Issues - ECON 2003</td>
	<td>1:00 - 2:45</td>
	<td>1:00 - 3:45</td>
	<td>1:00 - 2:45</td>
	<td>1:00 - 3:45</td>
	<td bgcolor="#DCDCDC"></td>
 </tr>
 <tr bgcolor="#DDEBF7">
   <td>Intro Macro Economics - ECON 2013</td>
	<td>1:00 - 2:45</td>
	<td>1:00 - 3:45</td>
	<td>1:00 - 2:45</td>
	<td>1:00 - 3:45</td>
	<td bgcolor="#DCDCDC"></td>
 <tr>
   <td>Intro Micro Economics - ECON 2023</td>
	<td>1:00 - 2:45</td>
	<td>1:00 - 3:45</td>
	<td>1:00 - 2:45</td>
	<td>1:00 - 3:45</td>
	<td bgcolor="#DCDCDC"></td>
 </tr>
 
 <tr bgcolor="#A9A9A9" style="line-height:3px"><td colspan="6">&nbsp;</td></tr>
 
 <tr bgcolor="#DDEBF7">
     <td><div align="center">Survey of Finance</div>
<td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
	<td bgcolor="#DCDCDC"></td>
 </tr>
 <tr>
   <td>Principles of Bus Finance - FIN 3013</td>
<td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
	<td bgcolor="#DCDCDC"></td>
 </tr>
   
   <tr bgcolor="#A9A9A9" style="line-height:3px"><td colspan="6">&nbsp;</td></tr>
   
 <tr  bgcolor="#DDEBF7">
   <td>Bus Stats w/ Computer Application I - MS 1023</td>
<td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
	<td bgcolor="#DCDCDC"></td>
 </tr>
  <tr>
   <td>Busi Stats w/ Compute Application II - MS 3043</td>
<td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
	<td bgcolor="#DCDCDC"></td>
 </tr>
 <tr   bgcolor="#DDEBF7">
   <td>Mgmt Science & Operations Technology - MS 3053</td>
<td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
	<td bgcolor="#DCDCDC"></td>
 </tr>
   
   <tr bgcolor="#A9A9A9" style="line-height:3px"><td colspan="6">&nbsp;</td></tr>
   
 <tr>
   <td>Basic Statistics - STA 1053</td>
<td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
	<td bgcolor="#DCDCDC"></td>
 </tr>
 <tr   bgcolor="#DDEBF7">
   <td>Probability Stats for Bioscience - STA 1403</td>
<td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
	<td bgcolor="#DCDCDC"></td>
 </tr>
  <tr bgcolor="#A9A9A9" style="line-height:3px"><td colspan="6">&nbsp;</td></tr>
   
 <tr>
   <td>Psych Statistics - PSY 2073</td>
<td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td><td bgcolor="#DCDCDC"></td>
	<td bgcolor="#DCDCDC"></td>
 </tr>
</tbody></table>
<p>&nbsp;</p>
</div>