<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">
Tutoring will be available in the Chaparral Villiage Conference Room.

<div align="center">

<table width="850" class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th colspan="7">Residence Hall Tutoring</th></tr></thead> <tbody>
 <tr><td width="150">&nbsp;</td><td><div align="center"><strong>Monday</strong></div></td><td><div align="center"><strong>Tuesday</strong></div></td><td><div align="center"><strong>Wednesday</strong></div></td><td><div align="center"><strong>Thursday</strong></div></td>
    </tr>
 <tr bgcolor="#DDEBF7"><td>Basic Mathematics MAT 0203</td>
       <td>2:00 - 3:45<hr> 7:00 - 8:30</td><td>2:00 - 3:45<hr> 5:00 - 8:30</td><td>2:00 - 3:45<hr> 6:15 - 7:15</td><td>2:00 - 8:30 </td>
     </tr>
    <tr><td>Intermediate Algebra MAT 0213</td>
<td>2:00 - 3:45<hr> 7:00 - 8:30</td><td>2:00 - 3:45<hr> 5:00 - 8:30</td><td>2:00 - 3:45<hr> 6:15 - 7:15</td><td>2:00 - 8:30 </td>
     </tr>
   <tr bgcolor="#DDEBF7"><td>College Algebra with  Applications MAT 1023</td>
<td>2:00 - 3:45<hr> 7:00 - 8:30</td><td>2:00 - 3:45<hr> 5:00 - 8:30</td><td>2:00 - 3:45<hr> 6:15 - 7:15</td><td>2:00 - 8:30 </td>
     </tr>
   <tr><td>Introduction to Mathematics MAT 1043</td>
       <td>7:00 - 8:30</td><td>2:00 - 3:45<hr> 5:00 - 7:00</td><td>6:15 - 7:15 </td><td>2:00 - 5:30 </td>
   </tr> 
    <tr bgcolor="#DDEBF7"><td>PreCalculus MAT 1093</td>
   <td>2:00 - 6:00<hr> 7:00 - 8:30</td><td>2:00 - 8:30</td><td>2:00 - 3:45<hr> 4:15 - 8:30</td><td>2:00 - 8:30 </td>
   </tr>
     <tr><td>Calculus for  Biosciences MAT 1193</td>
       <td>7:00 - 8:30</td><td>2:00 - 3:45<hr> 5:00 - 7:00</td><td>6:15 - 7:15 </td><td>2:00 - 5:30 </td>
   </tr>
  <tr bgcolor="#DDEBF7"><td>Calculus I MAT 1214</td>
   <td>2:00 - 6:00<hr> 7:00 - 8:30</td><td>2:00 - 8:30</td><td>2:00 - 3:45<hr> 4:15 - 8:30</td><td>2:00 - 8:30 </td>
   </tr>
   <tr><td>Calculus II MAT 1224</td>
 <td>2:00 - 3:45</td><td>6:30 - 8:30</td><td>2:00 - 3:45</td><td>3:30 - 8:30 </td>
   </tr>
<tr bgcolor="#A9A9A9" style="line-height:3px"><td colspan="6">&nbsp;</td></tr>
 <tr>
    <td>Human Anatomy & Physiology I - BIO 2053</td>
	<td>7:00-8:30</td>
	<td>2:00 - 3:45<hr> 5:00 - 7:00</td>
	<td>6:15 - 7:15</td>
	<td>2:00 - 5:30</td>
	 </tr>
 <tr bgcolor="#DDEBF7">
    <td>Human Anatomy & Physiology II - BIO 2063</td>
<td>7:00-8:30</td>
	<td>2:00 - 3:45<hr> 5:00 - 7:00</td>
	<td>6:15 - 7:15</td>
	<td>2:00 - 5:30</td>
 </tr>
 <tr>
    <td>Biosciences I -  BIO 1404</td>
	<td>4:15 - 6:00<hr> 7:00 - 8:30</td>
<td>2:00 - 7:00</td>
<td>4:15 - 7:15</td>
<td>2:00 - 5:30<hr> 6:00 - 8:30</td>
  </tr>
 <tr bgcolor="#DDEBF7">
    <td>Biosciences II - BIO 1414</td>
	<td>4:15 - 6:00<hr> 7:00 - 8:30</td>
<td>2:00 - 7:00</td>
<td>4:15 - 7:15</td>
<td>2:00 - 5:30<hr> 6:00 - 8:30</td>
  </tr>
 <tr>
    <td>Genetics - BIO 2313</td>
	<td>4:15 - 6:00<hr> 7:00 - 8:30</td>
<td>2:00 - 7:00</td>
<td>4:15 - 7:15</td>
<td>2:00 - 5:30<hr> 6:00 - 8:30</td>
 </tr>
 <tr bgcolor="#DDEBF7">
     <td>Basic Chemistry - CHE 1073</td>
<td>4:15 - 6:00<hr> 7:00 - 8:30</td>
<td>2:00 - 7:00</td>
<td>4:15 - 7:15</td>
<td>2:00 - 5:30<hr> 6:00 - 8:30</td>
 </tr>
 <tr>
    <td>General Chemistry I - CHE 1103</td>
	<td>3:30 - 6:00<hr> 7:00 - 8:30</td>
<td>2:00 - 7:00 <hr> 7:30 - 8:30</td>
<td>2:00 - 3:15<hr> 4:15 - 8:30</td>
<td>2:00 - 5:30<hr> 6:00 - 8:30</td>
 </tr>
 <tr bgcolor="#DDEBF7">
    <td>General Chemistry II - CHE 1113</td>
		<td>3:30 - 6:00<hr> 7:00 - 8:30</td>
<td>2:00 - 7:00 <hr> 7:30 - 8:30</td>
<td>2:00 - 3:15<hr> 4:15 - 8:30</td>
<td>2:00 - 5:30<hr> 6:00 - 8:30</td>
 </tr>
 <tr>
    <td>Organic Chemistry I - CHE 2603</td>
	<td>4:15 - 6:00</td>
<td>2:00 - 5:00</td>
<td>4:15 - 6:00</td>
<td>2:00 - 3:30 <hr> 6:00 - 8:30</td>
 </tr>
 <tr bgcolor="#DDEBF7">
    <td>Organic Chemistry II - CHE 3643</td>
	<td>4:15 - 6:00</td>
<td>2:00 - 5:00</td>
<td>4:15 - 6:00</td>
<td>2:00 - 3:30 <hr> 6:00 - 8:30</td>
 </tr>
</tbody></table> 
<p>&nbsp;</p>
</div>