<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
  <table width="850" class="tableizer-table">
    <thead><tr class="tableizer-firstrow">
      <th colspan="6">Math Courses</th></tr></thead><tbody>
      <tr><td width="150">&nbsp;</td><td><div align="center"><strong>Monday</strong></div></td><td><div align="center"><strong>Tuesday</strong></div></td><td><div align="center"><strong>Wednesday</strong></div></td><td><div align="center"><strong>Thursday</strong></div></td><td><div align="center"><strong>Friday</strong></div></td>
     </tr>
     <tr bgcolor="#DDEBF7"><td>Basic Mathematics MAT 0203</td>
       <td>10:30 - 6:00</td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td> 10:30 - 2:00 </td>
     </tr>
     <tr><td>Intermediate Algebra MAT 0213</td>
        <td>10:30 - 6:00</td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td> 10:30 - 2:00 </td>
     </tr>
     <tr bgcolor="#DDEBF7"><td>College Algebra with  Applications MAT 1023</td>
       <td>10:30 - 6:00</td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td> 10:30 - 2:00 </td>
     </tr>
     <tr><td>Introduction to Mathematics MAT 1043</td>
       <td>10:30 - 6:00</td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td> 10:30 - 2:00 </td>
   </tr>
    <tr bgcolor="#DDEBF7"><td>PreCalculus MAT 1093</td>
       <td>10:30 - 6:00</td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td> 10:30 - 2:00 </td>
   </tr>
     <tr><td>Calculus for  Biosciences MAT 1193</td>
       <td>10:30 - 6:00</td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td> 10:30 - 2:00 </td>
   </tr>
   <tr bgcolor="#DDEBF7"><td>Calculus I MAT 1214</td>
  <td>10:30 - 6:00</td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td> 10:30 - 2:00 </td>
   </tr>
   <tr><td>Calculus II MAT 1224</td>
      <td>10:30 - 6:00</td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td> 10:30 - 2:00 </td>
   </tr>
   <tr bgcolor="#DDEBF7"><td>Calculus III MAT 2214</td>
        <td>1:30 - 3:30</td><td>11:00 - 6:00 </td><td>10:30 - 3:30 </td><td>10:30 - 12:45 <hr>3:00 - 6:00 </td><td>10:30 - 1:30 </td>
   </tr>
   <tr><td>Linear Algebra MAT 2233</td>
     <td bgcolor="#DCDCDC">&nbsp;</td><td>11:00 - 3:00 </td><td>10:30 - 1:30 </td><td>11:00 - 1:00 </td><td bgcolor="#DCDCDC">&nbsp;</td>     
   </tr>
   <tr bgcolor="#DDEBF7"><td>Foundations of Math <br></td><td bgcolor="#DCDCDC">&nbsp;</td><td bgcolor="#DCDCDC">&nbsp;</td><td bgcolor="#DCDCDC">&nbsp;</td><td bgcolor="#DCDCDC">&nbsp;</td>
     <td bgcolor="#DCDCDC">&nbsp;</td>
   </tr>
 </tbody></table>
 <p>&nbsp;</p>
</div>
