<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table width="860" class="tableizer-table">
<thead><tr class="tableizer-firstrow">
<th colspan="6">Physics &amp; Engineering Courses</th></tr></thead><tbody>
<tr><td width="180">&nbsp;</td><td><div align="center"><strong>Monday</strong></div></td><td><div align="center"><strong>Tuesday</strong></div></td><td><div align="center"><strong>Wednesday</strong></div></td><td><div align="center"><strong>Thursday</strong></div></td>
  <td><strong>Friday</strong></td>
</tr>
 <tr bgcolor="#DDEBF7"><td><div align="center">Introduction to Astronomy</div></td>
     <td bgcolor="#DCDCDC"></td>
     <td>11:00 - 3:30 </td>
     <td>10:30 - 1:30 </td>
     <td>11:00 - 1:30</td>
     <td bgcolor="#DCDCDC"></td>
      </tr>
 <tr bgcolor="#A9A9A9" style="line-height:5px"><td colspan="6">&nbsp;</td></tr>

 <tr><td><div align="center">Algebra Based Physics I  PHY 1603</div></td>
	<td>10:30 - 6:00</td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td> 10:30 - 2:00 </td>
   </tr>
 <tr bgcolor="#DDEBF7"><td><div align="center">Algebra - Based Physics II PHY 1623</div></td>
    <td>10:30 - 6:00</td><td>10:30 - 6:00 </td><td>10:30 - 3:30 <hr>4:00 - 6:00</td><td>11:30 - 4:00 </td><td> 10:30 - 2:00 </td>
  </tr>
 <tr><td><div align="center">Scientists &amp; Engineers  Physics I PHY 1943</div></td>
     <td>10:30 - 6:00</td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td> 10:30 - 2:00 </td>
  </tr>
 <tr bgcolor="#DDEBF7"><td><div align="center">Scientists &amp; Engineers  Physics II   PHY 1963</div></td>
     <td>10:30 - 6:00</td><td>10:30 - 6:00 </td><td>10:30 - 3:30 </td><td>11:30 - 4:00 </td><td> 10:30 - 2:00 </td>
</tr>
  </tr>

<tr bgcolor="#A9A9A9" style="line-height:5px"><td colspan="6">&nbsp;</td></tr>

 <tr><td><div align="center">Statics EGR 2103</div></td>
     <td>10:30 - 6:00</td><td>11:30 - 6:00 </td><td>10:30 - 3:30 <hr>4:00 - 6:00</td><td>10:30 - 6:00 </td><td> 10:30 - 2:00 </td>
  </tr>
 <tr bgcolor="#DDEBF7"><td><div align="center">Statics &amp; Dynamics   EGR 2213</div></td>
      <td>10:30 - 4:00 </td> <td>11:30 - 6:00</td><td>10:30 - 3:30</td><td>10:30 - 6:00 </td><td> 10:30 - 2:00 </td>
  </tr>
 <tr><td><div align="center">Engineering Analysis I  EGR 2323</div></td>
      <td>10:30 - 6:00</td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td>10:30 - 6:00 </td><td> 10:30 - 2:00 </td>
  </tr>
 <tr bgcolor="#DDEBF7"><td><div align="center">Dynamics   EGR 2513</div></td>
      <td>10:30 - 4:00 </td> <td>11:00 - 6:00</td><td>10:30 - 3:30 <hr>4:00 - 6:00</td><td>10:30 - 6:00 </td><td> 10:30 - 2:00 </td>
  </tr>
 <tr><td><div align="center">Engineering Analysis II   EGR 3323</div></td>
      <td>10:30 - 4:00 </td> <td>10:30 - 6:00</td><td>10:30 - 3:30 <hr>4:00 - 6:00</td><td>10:30 - 6:00 </td><td> 10:30 - 2:00 </td>
 </tr>
</tbody></table>
<p>&nbsp;</p>
</div>