<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">
<style>
  td {
    vertical-align: middle;
    text-align:center;
    border: 1px solid black;
  }
  hr{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left:-0.5em;
    margin-right:-0.5em;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.2);
    display:block;
  }
</style>

<div align="center">
<table width="850" class="tableizer-table">
<thead><tr class="tableizer-firstrow">
 <th colspan="7">Science Courses</th></tr></thead><tbody>
 <tr><td width="160">&nbsp;</td>
     <td><div align="center"><strong>Monday</strong></div></td>
     <td><div align="center"><strong>Tuesday</strong></div></td>
     <td><div align="center"><strong>Wednesday</strong></div></td>
     <td><div align="center"><strong>Thursday</strong></div></td>
     <td><strong>Friday</strong></td>
 </tr>
 <tr bgcolor="#DDEBF7">
    <td>Introductory Microbiology - BIO 1053</td>
	<td>11:30 - 1:00<hr> 4:30 - 6:00</td><td>1:00 - 2:30</td><td>11:30 - 1:00<hr> 2:45 - 6:00</td><td>12:15 - 2:30 <hr>4:00 - 6:00</td>
	<td>12:15 - 2:00</td>
 </tr>

 <tr>
    <td>Human Anatomy & Physiology I - BIO 2053</td>
<td>10:30 - 1:30<hr> 2:30 - 6:00</td>
	<td>1:00 - 3:45</td>
<td>10:30 - 1:30<hr> 2:15 - 6:00</td>
	<td>1:00 - 3:00</td>
	<td>10:30 - 1:30</td>
 </tr>
 <tr bgcolor="#DDEBF7">
    <td>Human Anatomy & Physiology II - BIO 2063</td>
<td bgcolor="#DCDCDC"></td>
	<td bgcolor="#DCDCDC"></td>
<td bgcolor="#DCDCDC"></td>
	<td bgcolor="#DCDCDC"></td>
<td bgcolor="#DCDCDC"></td>
 </tr>
 <tr>
    <td>Contemporary Biology I - BIO 1233</td>
	<td>11:30 - 1:00<hr> 4:30 - 6:00</td>
<td>1:00 - 2:30</td>
	<td>11:30 - 1:00<hr> 2:45 - 6:00</td>
<td>12:15 - 2:30 <hr>4:00 - 6:00</td>
<td>12:15 - 2:00</td>
 </tr>
 <tr bgcolor="#DDEBF7">
    <td>Contemporary Biology II - BIO 1243</td>
	<td>11:30 - 1:00<hr> 4:30 - 6:00</td>
<td>1:00 - 2:30</td>
	<td>11:30 - 1:00<hr> 2:45 - 6:00</td>
<td>12:15 - 2:30 <hr>4:00 - 6:00</td>
<td>12:15 - 2:00</td>
  </tr>
 <tr>
    <td>Biosciences I -  BIO 1404</td>
	<td>10:30 - 6:00</td>
<td>10:30 - 3:45</td>
<td>11:30 - 6:00</td>
<td>10:30 - 3:45 <hr>4:00 - 6:00</td>
<td>12:15 - 2:00</td>
  </tr>
 <tr bgcolor="#DDEBF7">
    <td>Biosciences II - BIO 1414</td>
	<td>11:30 - 1:00 <hr>2:30 - 6:00</td>
<td>1:00 - 3:45</td>
<td>11:30 - 1:00<hr>2:30 - 6:00 </td>
<td>12:15 - 3:00 <hr>4:00 - 6:00</td>
<td>12:15 - 2:00</td>
  </tr>
 <tr>
    <td>Genetics - BIO 2313</td>
	<td>10:30 - 1:00 <hr>2:30 - 6:00</td>
<td>10:30 - 3:45</td>
<td>11:30 - 1:00 <hr>2:30 - 6:00</td>
<td>10:30 - 3:00 <hr>4:00 - 6:00</td>
<td>12:15 - 2:00</td>
 </tr>
 <tr bgcolor="#DDEBF7">
    <td>Chemistry for Allied Health - CHE 1004</td>
	<td>10:30 - 1:30</td>
	<td bgcolor="#DCDCDC"></td>
<td>10:30 - 1:30</td>
	<td bgcolor="#DCDCDC"></td>
<td>10:30 - 1:30</td>
 </tr>
 <tr>
    <td>Elementary Organic & Biochemistry - CHE 1014</td>
	<td>10:30 - 1:30</td>
	<td bgcolor="#DCDCDC"></td>
<td>10:30 - 1:30 <hr> 2:45 - 6:00</td>
	<td>12:15 - 2:15 <hr> 4:00 - 6:00</td>
<td>10:30 - 2:00</td>
 </tr>
 <tr bgcolor="#DDEBF7">
    <td>Basic Chemistry - CHE 1073</td>
<td>10:30 - 6:00</td>
<td>10:30 - 3:45</td>
<td>10:30 - 6:00</td>
<td>10:30 - 3:45 <hr> 4:00 - 6:00</td>
	<td>10:30 - 2:00</td>
 </tr>
 <tr>
    <td>General Chemistry I - CHE 1103</td>
	<<td>10:30 - 6:00</td>
<td>10:30 - 3:45</td>
<td>10:30 - 6:00</td>
<td>10:30 - 3:45 <hr> 4:00 - 6:00</td>
	<td>10:30 - 2:00</td>
 </tr>
 <tr bgcolor="#DDEBF7">
    <td>General Chemistry II - CHE 1113</td>
	
	<td>10:30 - 6:00</td>
<td>1:00 - 3:45</td>
<td>10:30 - 6:00</td>
<td>10:30 - 6:00</td>
	<td>10:30 - 2:00</td>
 </tr>
 <tr>
    <td>Organic Chemistry I - CHE 2603</td>
	<td>10:30 - 6:00</td>
<td>1:00 - 3:45</td>
<td>10:30 - 6:00</td>
<td>10:30 - 6:00</td>
	<td>10:30 - 2:00</td>
 </tr>
 <tr bgcolor="#DDEBF7">
    <td>Organic Chemistry II - CHE 3643</td>
	
	<td>10:30 - 1:30 <hr> 2:30 - 6:00</td><td>1:00 - 3:45</td><td>10:30 - 1:30 <hr> 2:30 - 6:00</td><td>10:30 - 3:00 <hr> 3:30 - 6:00</td><td>10:30 - 2:00</td>
 </tr>
</tbody></table>
<p>&nbsp;</p>
</div> 