<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow">
  <th colspan="5">Architecture Courses</th></tr></thead><tbody>
 <tr><td>&nbsp;</td><td><div align="center"><strong>Monday</strong></div></td><td><div align="center"><strong>Tuesday</strong></div></td><td><div align="center"><strong>Wednesday</strong></div></td><td><div align="center"><strong>Thursday</strong></div></td></tr>
 <tr bgcolor="#DDEBF7">
   <td>Principles of ARC Structures, ARC 2133</td><td>9:00 - 11:00</td><td>1:00 - 2:30</td><td>9:00 - 11:00</td><td bgcolor="#CCCCCC"></td> </tr>
 <tr>
   <td>Architecture Structures, ARC 4283</td><td>9:00 - 11:00</td><td>1:00 - 2:30</td><td>9:00 - 11:00</td><td bgcolor="#CCCCCC"></td></tr>
</tbody></table>
<p>&nbsp;</p>
</div>