<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow">
  <th colspan="5">Math Courses</th></tr></thead><tbody>
 <tr><td>&nbsp;</td><td><div align="center"><strong>Monday</strong></div></td><td><div align="center"><strong>Tuesday</strong></div></td><td><div align="center"><strong>Wednesday</strong></div></td><td><div align="center"><strong>Thursday</strong></div></td></tr>
 
 <tr bgcolor="#DDEBF7"><td>Intermediate Algebra</td><td>9:00-11:00</td><td>1:00-2:30</td><td>9:00-11:00</td><td bgcolor="#DCDCDC"></td></tr>
 <tr><td>College Algebra with Applications</td><td>9:00-11:00</td><td>1:00-2:30</td><td>9:00-11:00</td><td bgcolor="#DCDCDC"></td></tr>
 <tr bgcolor="#DDEBF7"><td>Algebra w/ Calculus for Business</td><td>9:00-11:00</td><td>1:00-2:30</td><td>9:00-11:00</td><td bgcolor="#DCDCDC"></td></tr>

 <tr><td>Algebra for Scientists & Engineers</td><td>9:00-11:00</td><td>1:00-2:30</td><td>9:00-11:00</td><td bgcolor="#DCDCDC"></td></tr>
 <tr bgcolor="#DDEBF7"><td>PreCalculus</td><td>9:00-11:00</td><td>1:00-2:30</td><td>9:00-11:00</td><td bgcolor="#DCDCDC"></td></tr>
 <tr><td>Essential Elements in Mathematics I &amp; II</td><td>9:00-11:00</td><td>1:00-2:30</td><td>9:00-11:00</td><td bgcolor="#DCDCDC"></td></tr>
 <tr bgcolor="#DDEBF7"><td>Calculus for  Biosciences</td><td>9:00-11:00</td><td>1:00-2:30</td><td>9:00-11:00</td><td bgcolor="#DCDCDC"></td></tr>
</tbody></table>
<p>&nbsp;</p>
</div>