<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow">
  <th colspan="5">Science Courses</th></tr></thead><tbody>
 <tr><td>&nbsp;</td><td><div align="center"><strong>Monday</strong></div></td><td><div align="center"><strong>Tuesday</strong></div></td><td><div align="center"><strong>Wednesday</strong></div></td><td><div align="center"><strong>Thursday</strong></div></td></tr>
 
 <tr bgcolor="#DDEBF7"><td>Basic  Chemistry</td><td bgcolor="#DCDCDC"></td><td>11:00-1:30</td><td>10:30-1:00</td><td bgcolor="#DCDCDC"></td></tr>
 <tr><td>General Chemistry I </td><td bgcolor="#DCDCDC"></td><td>11:00-1:30</td><td>10:30-1:00</td><td bgcolor="#DCDCDC"></td></tr>
 <tr bgcolor="#DDEBF7"><td>Organic Chemistry I </td><td bgcolor="#DCDCDC"></td><td>11:00-1:30</td><td>10:30-1:00</td><td bgcolor="#DCDCDC"></td></tr>
</tbody></table>
<p>&nbsp;</p>
</div>