<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow">
  <th colspan="5">Business Courses</th></tr></thead><tbody>
 <tr><td width="150">&nbsp;</td><td><div align="center"><strong>Monday</strong></div></td><td><div align="center"><strong>Tuesday</strong></div></td><td><div align="center"><strong>Wednesday</strong></div></td>
   <td><strong>Thursday</strong></td></tr>
 <tr bgcolor="#DDEBF7">
   <td><div align="center">Found. of Accounting</div></td>
     <td bgcolor="#DCDCDC">&nbsp;</td>
     <td>11:30 - 1:30</td>
     <td>3:30 - 6:00</td>
     <td>11:00 - 1:30</td>
 </tr>
 <tr>
    <td><div align="center">Principles of Accounting I</div></td>
    <td bgcolor="#DCDCDC">&nbsp;</td>
    <td>11:30 - 1:30</td>
    <td>3:30 - 6:00</td>
    <td>11:00 - 1:30</td>
 </tr>
 <tr bgcolor="#DDEBF7">
   <td><div align="center">Principles of Accounting II</div></td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
   <td>11:30 - 1:30</td>
   <td>3:30 - 6:00</td>
   <td>11:00 - 1:30</td>
 </tr>

   <tr bgcolor="#A9A9A9" style="line-height:3px"><td colspan="5">&nbsp;</td></tr>

 <tr>
   <td><div align="center">Economic Principles &amp; issues</div></td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
   <td>11:30 - 1:30</td>
   <td>3:30 - 6:00</td>
   <td>11:00 - 1:30</td>
 </tr>
 <tr bgcolor="#DDEBF7">
   <td><div align="center">Intro Macro Economics</div></td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
   <td>11:30 - 1:30</td>
   <td>3:30 - 6:00</td>
   <td>11:00 - 1:30</td>
 </tr>
 <tr>
   <td><div align="center">Intro Micro Economics</div></td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
   <td>11:30 - 1:30</td>
   <td>3:30 - 6:00</td>
   <td>11:00 - 1:30</td>
 </tr>

 <tr bgcolor="#A9A9A9" style="line-height:3px"><td colspan="7">&nbsp;</td></tr>

 <tr bgcolor="#DDEBF7">
     <td><div align="center">Survey of Finance</div>
       <td bgcolor="#DCDCDC">&nbsp;</td>
       <td>11:30 - 1:30</td>
       <td>3:30 - 6:00</td>
       <td>11:00 - 1:30</td>
 </tr>
 <tr>
   <td><div align="center">Principles of Business Finance</div></td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
   <td>11:30 - 1:30</td>
   <td>3:30 - 6:00</td>
   <td>11:00 - 1:30</td>
 </tr>

   <tr bgcolor="#A9A9A9" style="line-height:3px"><td colspan="7">&nbsp;</td></tr>

 <tr  bgcolor="#DDEBF7">
   <td><div align="center">Bus Stats w/ Computer Application I</div></td>
     <td>12:00 - 2:30</td>
     <td>12:00 - 2:30</td>
     <td>12:00 - 2:00</td>
     <td>12:00 - 2:00</td>
 </tr>
  <tr>
   <td><div align="center">Bus Stats w/ Computer Application II</div></td>
      <td>12:00 - 2:30</td>
      <td>11:30 - 2:30</td>
      <td>12:00 - 2:00 <hr/> 3:30 - 6:00</td>
      <td>11:00 - 2:00</td>
 </tr>
 <tr bgcolor="#DDEBF7">
   <td><div align="center">Mgmt Science &amp; Operations Technology</div></td>
   <td bgcolor="#DCDCDC">&nbsp;</td>
   <td>11:30 - 1:30</td>
   <td>3:30 - 6:00</td>
   <td>11:00 - 1:30</td>
 </tr>

   <tr bgcolor="#A9A9A9" style="line-height:3px"><td colspan="7">&nbsp;</td></tr>

 <tr>
   <td><div align="center">Basic Statistics</div></td>
   <td>11:30 - 4:00</td>
   <td>11:30 - 4:00</td>
   <td>11:30 - 4:00</td>
   <td>11:30 - 4:00</td>
 </tr>
 <tr   bgcolor="#DDEBF7">
   <td><div align="center">Probability Stats for Bioscience</div></td>
   <td>11:15 - 2:30 <hr/> 4:00 - 6:00</td>
   <td>11:15 - 2:30 <hr/> 4:00 - 6:00</td>
   <td>11:15 - 2:30 <hr/> 4:00 - 6:00</td>
   <td>12:00 - 2:00 <hr/> 4:00 - 6:00</td>
 </tr>

</tbody></table>
<p>&nbsp;</p>
</div>
`
