<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th colspan="5">Language Courses</th></tr></thead><tbody>
 <tr><td>&nbsp;</td><td><div align="center"><strong>Monday</strong></div></td><td><div align="center"><strong>Tuesday</strong></div></td><td><div align="center"><strong>Wednesday</strong></div></td><td><div align="center"><strong>Thursday</strong></div></td></tr>
 <tr bgcolor="#DDEBF7"><td>Elementary  Spanish I</td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td><div align="center">--</div></td></tr>
 <tr><td>Elementary Spanish II </td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td><div align="center">--</div></td></tr>
 <tr bgcolor="#DDEBF7"><td>Intermediate Spanish I </td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td><div align="center">--</div></td></tr>
 <tr><td>Intermediate Spanish II </td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td><div align="center">--</div></td></tr>
 <tr bgcolor="#DDEBF7"><td>Spanish Oral & Written Expression</td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td><div align="center">--</div></td></tr>
 <tr><td>Spanish  Phonetics & Pronunciation </td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td><div align="center">--</div></td></tr>
 <tr bgcolor="#DDEBF7"><td>Elem Frn I </td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td><div align="center">--</div></td></tr>
 <tr><td>Intermediate  FRN I</td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td>11:00a-2:00p</td><td><div align="center">--</div></td></tr>
</tbody></table>
<p>&nbsp;</p>
</div>