<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow">
  <th colspan="5">Math Courses</th></tr></thead><tbody>
 <tr><td>&nbsp;</td><td><div align="center"><strong>Monday</strong></div></td><td><div align="center"><strong>Tuesday</strong></div></td><td><div align="center"><strong>Wednesday</strong></div></td><td><div align="center"><strong>Thursday</strong></div></td></tr>
 <tr bgcolor="#DDEBF7"><td>Basic Mathematics</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr><td>Intermediate Algebra</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr bgcolor="#DDEBF7"><td>College Algebra with     Applications</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr><td>Algebra w/ Calculus for Business</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr bgcolor="#DDEBF7"><td>Introduction to Mathematics</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr><td>Algebra for Scientists & Engineers</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr bgcolor="#DDEBF7"><td>PreCalculus</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr><td>Essential     Elements in         Mathematics I</td>
   <td class = "tableizer-firstrow", colspan="4"><div align="center"><em>Hours not available</em></div></td></tr>
 <tr bgcolor="#DDEBF7"><td>Essential Elements in       Mathematics II</td><td class = "tableizer-firstrow", colspan="4"><div align="center"><em>Hours not available</em></div></td></tr>
 <tr><td>Calculus for  Biosciences</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr bgcolor="#DDEBF7"><td>Calculus I</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr><td>Calculus II</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr bgcolor="#DDEBF7"><td>Calculus III</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr><td>Linear Algebra</td><td>12:00 - 2:30</td><td>12:00 - 2:30</td><td>12:00 - 2:00</td><td>12:00 - 2:30</td></tr>
 <tr bgcolor="#DDEBF7"><td>Foundations of Math</td><td class = "tableizer-firstrow", colspan="4"><div align="center"><em>Hours not available</em></div></td></tr>
</tbody></table>
<p>&nbsp;</p>
</div>
