<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow">
<th colspan="5">Physics & Engineering Courses</th></tr></thead><tbody>
<tr><td>&nbsp;</td><td><div align="center"><strong>Monday</strong></div></td><td><div align="center"><strong>Tuesday</strong></div></td><td><div align="center"><strong>Wednesday</strong></div></td><td><div align="center"><strong>Thursday</strong></div></td></tr>
 <tr bgcolor="#DDEBF7"><td>Introduction to Astronomy</td><td>1:00 - 4:00</td><td>1:00 - 4:00</td><td>1:00 - 4:00</td><td>1:00 - 4:00</td></tr>
 <tr bgcolor="#A9A9A9" style="line-height:5px"><td colspan="5">&nbsp;</td></tr>

 <tr><td>Algebra Based Physics I     PHY 1603</td><td>11:00 - 3:30 <hr /> 4:00 - 6:00</td><td>11:00 - 3:30 <hr /> 4:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr bgcolor="#DDEBF7"><td>Algebra-Based Physics II    PHY 1623</td><td>11:00 - 3:30 <hr /> 4:00 - 6:00</td><td>11:00 - 3:30 <hr /> 4:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr><td>Scientists & Engineers  Physics I    PHY 1943</td><td>11:00 - 3:30 <hr /> 4:00 - 6:00</td><td>11:00 - 3:30 <hr /> 4:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr bgcolor="#DDEBF7"><td>Scientists & Engineers  Physics II   PHY 1963</td><td>11:00 - 3:30 <hr /> 4:00 - 6:00</td><td>11:00 - 3:30 <hr /> 4:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>

<tr bgcolor="#A9A9A9" style="line-height:5px"><td colspan="5">&nbsp;</td></tr>

 <tr><td>Statics         EGR 2103</td><td>11:00 - 3:30 <hr /> 4:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr bgcolor="#DDEBF7"><td>Statics & Dynamics   EGR 2213</td><td>11:00 - 3:30 <hr /> 4:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr><td>Engineering Analysis I     EGR 2323</td><td>11:00 - 3:30 <hr /> 4:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr bgcolor="#DDEBF7"><td>Dynamics   EGR 2513</td><td>11:00 - 3:30 <hr /> 4:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
 <tr><td>Engineering Analysis II   EGR 3323</td><td>11:00 - 3:30 <hr /> 4:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
</tbody></table>
<p>&nbsp;</p>
</div>
