<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow">
  <th colspan="5">Psych Stats</th></tr></thead><tbody>
 <tr><td>&nbsp;</td><td><div align="center"><strong>Monday</strong></div></td><td><div align="center"><strong>Tuesday</strong></div></td><td><div align="center"><strong>Wednesday</strong></div></td><td><div align="center"><strong>Thursday</strong></div></td></tr>
 <tr bgcolor="#DDEBF7"><td>Stats for Psych PSY 2073</td><td>11:30 - 1:00 <hr> 1:45 - 4:00</td><td>11:30 - 1:00<hr>1:45 - 4:00</td><td>11:30 - 1:00<hr>1:45 - 4:00</td><td>11:30 - 1:00<hr>1:45 - 4:00</td></tr>
</tbody></table>
<p>&nbsp;</p>
</div>
