<link href="/trcss/tutoring/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow">
  <th colspan="5">Science Courses</th></tr></thead><tbody>
 <tr><td>&nbsp;</td><td><div align="center"><strong>Monday</strong></div></td><td><div align="center"><strong>Tuesday</strong></div></td><td><div align="center"><strong>Wednesday</strong></div></td><td><div align="center"><strong>Thursday</strong></div></td></tr>
 <tr bgcolor="#DDEBF7"><td>Introductory Microbiology</td><td>1:00 - 4:00</td><td>2:00 - 4:00</td><td>2:00 - 4:00</td><td>2:00 - 4:00</td></tr>

 <tr><td>Human  Anatomy & Physiology I</td><td>1:00 - 4:00</td><td>1:00 - 5:00</td><td>2:00 - 4:00</td><td>1:00 - 5:00</td></tr>

 <tr bgcolor="#DDEBF7"><td>Human Anatomy & Physiology II</td><td>1:00 - 4:00</td><td>2:00 - 4:00</td><td>2:00 - 4:00</td><td>2:00 - 4:00</td></tr>

 <tr><td>Contemporary Biology I</td><td>11:15 - 6:00</td><td>11:15 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>

 <tr bgcolor="#DDEBF7"><td>Contemporary Biology II</td><td>11:15 - 6:00</td><td>11:15 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>

 <tr><td>Biosciences I</td><td>11:15 - 6:00</td><td>11:15 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>

 <tr bgcolor="#DDEBF7"><td>Biosciences II</td><td>11:15 - 6:00</td><td>11:15 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>

 <tr><td>Genetics</td><td>11:15 - 6:00</td><td>11:15 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>

 <tr bgcolor="#DDEBF7"><td>Chemistry for Allied Health</td><td>11:15 - 6:00</td><td>11:15 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>

 <tr><td>Elementary Organic & Biochemistry</td><td>11:15 - 4:00</td><td>11:15 - 6:00</td><td>11:00 - 4:00</td><td>11:00 - 5:00</td></tr>

 <tr bgcolor="#DDEBF7"><td>Basic  Chemistry</td><td>11:15 - 6:00</td><td>11:15 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>

 <tr><td>General Chemistry I </td><td>11:15 - 6:00</td><td>11:15 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>

 <tr bgcolor="#DDEBF7"><td>General  Chemistry II</td><td>11:15 - 6:00</td><td>11:15 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>

 <tr><td>Organic Chemistry I </td><td>11:15 - 6:00</td><td>11:15 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>

 <tr bgcolor="#DDEBF7"><td>Organic  Chemistry II</td><td>11:15 - 6:00</td><td>11:15 - 6:00</td><td>11:00 - 6:00</td><td>11:00 - 6:00</td></tr>
</tbody></table>
<p>&nbsp;</p>
</div>
