<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table width="880" class="tableizer-table">
<thead>
  <tr class="tableizer-firstrow">
    <th colspan="9">Astronomy</th>
    </tr>
  <tr bgcolor="#DDEBF7"></thead>
  <tbody>
 <tr>
      <!--Title-->
   <td><div align="center"><strong>Subject</strong></div></td><td><div align="center"><strong>Course</strong></div></td>
   <td><div align="center"><strong>Section</strong></div></td>
   <td><div align="center"><strong>Instructor</strong></div></td><td><div align="center"><strong>Day</strong></div></td>
   <td><div align="center"><strong>Start</strong></div></td><td><div align="center"><strong>End</strong></div></td>
   <td><div align="center"><strong>Location</strong></div></td><td><div align="center"><strong>Leader</strong></div></td></tr>

    <!--Body-->
      <tr><td>AST</td><td>1013</td><td>1,3&4</td><td>Drozdov, Dina</td><td>Monday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 8</td><td>Clarence B.</td></tr>
      <tr bgcolor='DDEBF7'><td>AST</td><td>1013</td><td>1,3&4</td><td>Drozdov, Dina</td><td>Thursday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 10</td><td>Clarence B.</td></tr>
      <tr><td>AST</td><td>1013</td><td>1,3&4</td><td>Drozdov, Dina</td><td>Friday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 8</td><td>Clarence B.</td></tr>
      <tr bgcolor='DDEBF7'><td>AST</td><td>1013</td><td>1,3&4</td><td>Office Hour</td><td>Tuesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Clarence B.</td></tr>
      <tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

</tbody></table>
<p>&nbsp;</p>
</div>