<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">
<div align="center">
<table width="800" class="tableizer-table">
<thead>
  <tr class="tableizer-firstrow">
    <th colspan="9">Biology</th>
    </tr>

  <tr></thead>
  <tbody>
 
 <tr>
      <!--Title-->
   <td><div align="center"><strong>Subject</strong></div></td><td><div align="center"><strong>Course</strong></div></td>
   <td><div align="center"><strong>Section</strong></div></td>
   <td><div align="center"><strong>Instructor</strong></div></td><td><div align="center"><strong>Day</strong></div></td>
   <td><div align="center"><strong>Start</strong></div></td><td><div align="center"><strong>End</strong></div></td>
   <td><div align="center"><strong>Location</strong></div></td><td><div align="center"><strong>Leader</strong></div></td></tr>

 
    <!--Body-->
    <tr><td>BIO</td><td>1233</td><td>1 & 2</td><td>Dalterio, Susan</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>MH 3.03.16</td><td>Anglea C.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1233</td><td>1 & 2</td><td>Dalterio, Susan</td><td>Wednesday </td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 10</td><td>Anglea C.</td></tr>

<tr><td>BIO</td><td>1233</td><td>1 & 2</td><td>Dalterio, Susan</td><td>Thursday</td><td>11:30 AM</td><td>12:20 PM</td><td>MS 2.03.02</td><td>Anglea C.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1233</td><td>1 & 2</td><td>Office Hour</td><td>Monday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Anglea C.</td></tr>

<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
<tr><td>BIO</td><td>1233</td><td>3</td><td>Haro, Luis</td><td>Tuesday</td><td>1:00 PM</td><td>1:50 PM</td><td>os FLN 3.02.02</td><td>Hunter C.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1233</td><td>3</td><td>Haro, Luis</td><td>Wednesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 6</td><td>Hunter C.</td></tr>

<tr><td>BIO</td><td>1233</td><td>3</td><td>Haro, Luis</td><td>Monday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 4</td><td>Hunter C.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1233</td><td>3</td><td>Office Hour</td><td>Friday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Hunter C.</td></tr>

<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
<tr><td>BIO</td><td>1404</td><td>0A1</td><td>Derrick, Brian</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>MH 2.01.08</td><td>Rebecca T.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1404</td><td>0A1</td><td>Derrick, Brian</td><td>Wednesday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 3</td><td>Rebecca T.</td></tr>

<tr><td>BIO</td><td>1404</td><td>0A1</td><td>Derrick, Brian</td><td>Thursday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 3</td><td>Rebecca T.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1404</td><td>0A1</td><td>Office Hour</td><td>Wednesday</td><td>9:00 AM</td><td>9:50 AM</td><td>JPL 4.02.08</td><td>Rebecca T.</td></tr>

<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
<tr><td>BIO</td><td>1404</td><td>0B1</td><td>Cassill, Aaron</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>MS 2.03.18</td><td>Raja C.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1404</td><td>0B1</td><td>Cassill, Aaron</td><td>Tuesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 8</td><td>Raja C.</td></tr>

<tr><td>BIO</td><td>1404</td><td>0B1</td><td>Cassill, Aaron</td><td>Thursday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 6</td><td>Raja C.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1404</td><td>0B1</td><td>Office Hour</td><td>Wednesday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL 4.02.08</td><td>Raja C.</td></tr>

<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
<tr><td>BIO</td><td>1404</td><td>0C1</td><td>Jaffe, David</td><td>Monday</td><td>9:00 AM</td><td>9:50 AM</td><td>JPL Study Room 3</td><td>Iriana Vega</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1404</td><td>0C1</td><td>Jaffe, David</td><td>Wednesday</td><td>9:00 AM</td><td>9:50 AM</td><td>JPL Study Room 3</td><td>Iriana Vega</td></tr>

<tr><td>BIO</td><td>1404</td><td>0C1</td><td>Jaffe, David</td><td>Friday</td><td>9:00 AM</td><td>9:50 AM</td><td>JPL Study Room 3</td><td>Iriana Vega</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1404</td><td>0C1</td><td>Office Hour</td><td>Tuesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL 4.02.08</td><td>Iriana Vega</td></tr>

<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
<tr><td>BIO</td><td>1404</td><td>0D1</td><td>Barea-Rodriguez, Edwin</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>MS 2.02.54</td><td>Raul H.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1404</td><td>0D1</td><td>Barea-Rodriguez, Edwin</td><td>Tuesday</td><td>6:00 PM</td><td>6:50 PM</td><td>JPL Study Room 6</td><td>Raul H.</td></tr>

<tr><td>BIO</td><td>1404</td><td>0D1</td><td>Barea-Rodriguez, Edwin</td><td>Thursday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 10</td><td>Raul H.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1404</td><td>0D1</td><td>Office Hour</td><td>Monday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Raul H.</td></tr>

<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
<tr><td>BIO</td><td>1404</td><td>OE1</td><td>Santamaria, Fidel</td><td>Tuesday</td><td>2:30 PM</td><td>3:20 PM</td><td>MH 3.03.10</td><td>Katelyn M.</td></tr>


<tr><td>BIO</td><td>1404</td><td>OE1</td><td>Santamaria, Fidel</td><td>Friday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 4</td><td>Katelyn M.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1404</td><td>OE1</td><td>Office Hour</td><td>Monday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL 4.02.08</td><td>Katelyn M.</td></tr>

<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

<tr><td>BIO</td><td>1414</td><td>0A1 & 0C1</td><td>Saygin, Nazan</td><td>Monday </td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 7</td><td>Rebecca T.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1414</td><td>0A1 & 0C1</td><td>Saygin, Nazan</td><td>Tuesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 7</td><td>Rebecca T.</td></tr>

<tr><td>BIO</td><td>1414</td><td>0A1 & 0C1</td><td>Saygin, Nazan</td><td>Wednesday</td><td>1:00 PM</td><td>1:50 PM</td><td>MH 2.01.08</td><td>Rebecca T.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1414</td><td>0A1 & 0C1</td><td>Office Hour</td><td>Wednesday</td><td>9:00 AM</td><td>9:50 AM</td><td>JPL 4.02.08</td><td>Rebecca T.</td></tr>

<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

<tr><td>BIO</td><td>1414</td><td>0D1</td><td>Saygin, Nazan</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 3</td><td>Gregory M.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1414</td><td>0D1</td><td>Saygin, Nazan</td><td>Thursday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 9</td><td>Gregory M.</td></tr>

<tr><td>BIO</td><td>1414</td><td>0D1</td><td>Saygin, Nazan</td><td>Friday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 9</td><td>Gregory M.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>1414</td><td>0D1</td><td>Office Hour</td><td>Monday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Gregory M.</td></tr>

<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

<tr><td>BIO</td><td>2313</td><td>1</td><td>Nuckels, Richard</td><td>Tuesday</td><td>10:00 AM</td><td>10:50 AM</td><td>FLN 2.01.42</td><td>Julian E.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>2313</td><td>1</td><td>Nuckels, Richard</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>FLN 2.01.42</td><td>Julian E.</td></tr>

<tr><td>BIO</td><td>2313</td><td>1</td><td>Nuckels, Richard</td><td>Thursday</td><td>10:00 AM</td><td>10:50 AM</td><td>FLN 2.01.42</td><td>Julian E.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>2313</td><td>1</td><td>Office Hour</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Julian E.</td></tr>

<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

<tr><td>BIO</td><td>2313</td><td>2</td><td>Lundell, Martha</td><td>Tuesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 5</td><td>Leema H.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>2313</td><td>2</td><td>Lundell, Martha</td><td>Wednesday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 5</td><td>Leema H.</td></tr>

<tr><td>BIO</td><td>2313</td><td>2</td><td>Lundell, Martha</td><td>Thursday</td><td>11:30 AM</td><td>12:20 PM</td><td>JPL Study Room 5</td><td>Leema H.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>2313</td><td>2</td><td>Office Hour</td><td>Thursday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Leema H.</td></tr>

<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
<tr><td>BIO</td><td>2313</td><td>4</td><td>Cassill, Aaron</td><td>Monday</td><td>11:30 AM</td><td>12:20 PM</td><td>MS 2.02.20</td><td>Megana C.</td></tr>

<tr bgcolor='DDEBF7'><td>BIO</td><td>2313</td><td>4</td><td>Cassill, Aaron</td><td>Wednesday</td><td>11:30 AM</td><td>12:20 PM</td><td>MS 2.02.20</td><td>Megana C.</td></tr>

</tbody></table>
<p>&nbsp;</p>
</div>