<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table width="800" class="tableizer-table">
<thead>
  <tr class="tableizer-firstrow">
    <th colspan="9">Chemistry</th>
    </tr>
  <tr></thead>
  <tbody>
 <tr>
      <!--Title-->
   <td ><div align="center"><strong>Subject</strong></div></td><td width="46"><div align="center"><strong>Course</strong></div></td>
   <td><div align="center"><strong>Section</strong></div></td>
   <td><div align="center"><strong>Instructor</strong></div></td><td><div align="center"><strong>Day</strong></div></td>
   <td><div align="center"><strong>Start</strong></div></td><td><div align="center"><strong>End</strong></div></td>
   <td><div align="center"><strong>Location</strong></div></td><td><div align="center"><strong>Leader</strong></div></td></tr>
 
    <!--Body-->
<tr><td>CHE</td><td>1004</td><td>0A1</td><td>Thomas, Susan</td><td>Tuesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 3 </td><td>Samantha S.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1004</td><td>0A1</td><td>Thomas, Susan</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>MH 3.03.12</td><td>Samantha S.</td></tr>
<tr><td>CHE</td><td>1004</td><td>0A1</td><td>Thomas, Susan</td><td>Friday</td><td>12:00 PM</td><td>12:50 PM</td><td>MS 2.03.18</td><td>Samantha S.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1004</td><td>0A1</td><td>Office Hour</td><td>Tuesday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Samantha S.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>CHE</td><td>1073</td><td>1 & 2</td><td>Gold, Keegan</td><td>Tuesday</td><td>1:00 PM</td><td>1:50 PM</td><td>os FLN 2.03.08</td><td>Pamela O.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1073</td><td>1 & 2</td><td>Gold, Keegan</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 7</td><td>Pamela O.</td></tr>
<tr><td>CHE</td><td>1073</td><td>1 & 2</td><td>Gold, Keegan</td><td>Thursday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 5</td><td>Pamela O.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1073</td><td>1 & 2</td><td>Office Hour</td><td>Tuesday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Pamela O.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

<tr bgcolor='DDEBF7'><td>CHE</td><td>1073</td><td>3</td><td>Dougherty, Victoria</td><td>Tuesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 11</td><td>Matthew R.</td></tr>
<tr><td>CHE</td><td>1073</td><td>3</td><td>Dougherty, Victoria</td><td>Thursday</td><td>3:00 PM</td><td>3:50 PM</td><td>MH 3.01.14</td><td>Matthew R.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1073</td><td>3</td><td>Office Hour</td><td>Friday</td><td>9:00 AM</td><td>9:50 AM</td><td>JPL 4.02.08</td><td>Matthew R.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>CHE</td><td>1073</td><td>5</td><td>Gold, Keegan</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>MS 2.03.10</td><td>Victoria L.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1073</td><td>5</td><td>Gold, Keegan</td><td>Wednesday</td><td>3:00 PM</td><td>3:50 PM</td><td>MS 2.03.10</td><td>Victoria L.</td></tr>
<tr><td>CHE</td><td>1073</td><td>5</td><td>Gold, Keegan</td><td>Thursday</td><td>2:30 PM</td><td>3:20 PM</td><td>JPL Study Room 7</td><td>Victoria L.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1073</td><td>5</td><td>Office Hour</td><td>Tuesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL 4.02.08</td><td>Victoria L.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>CHE</td><td>1103</td><td>1</td><td>Ermler, Walter</td><td>Monday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 6</td><td>Justin N.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1103</td><td>1</td><td>Ermler, Walter</td><td>Thursday </td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 3</td><td>Justin N.</td></tr>
<tr><td>CHE</td><td>1103</td><td>1</td><td>Ermler, Walter</td><td>Friday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 6</td><td>Justin N.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1103</td><td>1</td><td>Office Hour</td><td>Monday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Justin N.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>CHE</td><td>1103</td><td>2</td><td>Ermler, Walter</td><td>Monday</td><td>5:00 PM</td><td>5:50 PM</td><td>os FLN 2.01.12</td><td>Amirali V.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1103</td><td>2</td><td>Ermler, Walter</td><td>Wednesday</td><td>2:00 PM</td><td>2:50 PM</td><td>os FLN 2.01.12</td><td>Amirali V.</td></tr>
<tr><td>CHE</td><td>1103</td><td>2</td><td>Ermler, Walter</td><td>Thursday</td><td>12:00 PM</td><td>12:50 PM</td><td>os FLN 2.01.12</td><td>Amirali V.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1103</td><td>2</td><td>Office Hour</td><td>Thursday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Amirali V.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>CHE</td><td>1103</td><td>3</td><td>Chen, Banglin</td><td>Monday</td><td>12:00 PM</td><td>12:50 PM</td><td>MH 3.03.12</td><td>Mosinmi A.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1103</td><td>3</td><td>Chen, Banglin</td><td>Wednesday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL Study Room 9</td><td>Mosinmi A.</td></tr>
<tr><td>CHE</td><td>1103</td><td>3</td><td>Chen, Banglin</td><td>Friday</td><td>12:00 PM</td><td>12:50 PM</td><td>MH 3.03.12 </td><td>Mosinmi A.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1103</td><td>3</td><td>Office Hour</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Mosinmi A.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>CHE</td><td>1103</td><td>4</td><td>Davidson, Mark</td><td>Monday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL Study Room 3</td><td>Mikaela M.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1103</td><td>4</td><td>Davidson, Mark</td><td>Tuesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 7</td><td>Mikaela M.</td></tr>
<tr><td>CHE</td><td>1103</td><td>4</td><td>Davidson, Mark</td><td>Wednesday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL Study Room 7</td><td>Mikaela M.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1103</td><td>4</td><td>Office Hour</td><td>Wednesday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Mikaela M.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>CHE</td><td>1103</td><td>5</td><td>Davidson, Mark</td><td>Tuesday</td><td>5:00 PM</td><td>5:50 PM</td><td>FLN 2.03.08</td><td>Nicolas B.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1103</td><td>5</td><td>Davidson, Mark</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>MH 3.02.32</td><td>Nicolas B.</td></tr>
<tr><td>CHE</td><td>1103</td><td>5</td><td>Davidson, Mark</td><td>Thursday</td><td>5:00 PM</td><td>5:50 PM</td><td>FLN 2.03.08</td><td>Nicolas B.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1103</td><td>5</td><td>Office Hour</td><td>Thursday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL 4.02.08</td><td>Nicolas B.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>CHE</td><td>1103</td><td>6</td><td>Gold, Keegan</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>BSE 3.01.06</td><td>Austin Lee</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1103</td><td>6</td><td>Gold, Keegan</td><td>Tuesday</td><td>10:00 AM</td><td>10:50 AM</td><td>BSE 3.01.06</td><td>Austin Lee</td></tr>
<tr><td>CHE</td><td>1103</td><td>6</td><td>Gold, Keegan</td><td>Thursday</td><td>10:00 AM</td><td>10:50 AM</td><td>BSE 3.01.06</td><td>Austin Lee</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1103</td><td>6</td><td>Office Hour</td><td>Thursday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Austin Lee</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>CHE</td><td>1113</td><td>1</td><td>Arman, Hadi</td><td>Monday</td><td>9:00 AM</td><td>9:50 AM</td><td>MH 3.02.48</td><td>Monica F.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1113</td><td>1</td><td>Arman, Hadi</td><td>Wednesday </td><td>9:00 AM</td><td>9:50 AM</td><td>MH 3.02.48</td><td>Monica F.</td></tr>
<tr><td>CHE</td><td>1113</td><td>1</td><td>Arman, Hadi</td><td>Friday </td><td>12:00 PM</td><td>12:50 PM</td><td>MS 2.02.20</td><td>Monica F.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1113</td><td>1</td><td>Office Hour</td><td>Friday </td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Monica F.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>CHE</td><td>1113</td><td>2</td><td>Kurtz, Donald</td><td>Tuesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 3</td><td>Aidan B.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1113</td><td>2</td><td>Kurtz, Donald</td><td>Wednesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 3</td><td>Aidan B.</td></tr>
<tr><td>CHE</td><td>1113</td><td>2</td><td>Kurtz, Donald</td><td>Thursday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 3</td><td>Aidan B.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1113</td><td>2</td><td>Office Hour</td><td>Friday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL 4.02.08</td><td>Aidan B.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>CHE</td><td>1113</td><td>3</td><td>Sadeghi, Raymond</td><td>Monday</td><td>11:00 AM</td><td>11:50 AM</td><td>MH 3.02.32</td><td>Marissa Y.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1113</td><td>3</td><td>Sadeghi, Raymond</td><td>Wednesday</td><td>3:00 PM</td><td>3:50 PM</td><td>MS 2.02.54</td><td>Marissa Y.</td></tr>
<tr><td>CHE</td><td>1113</td><td>3</td><td>Sadeghi, Raymond</td><td>Thursday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 3</td><td>Marissa Y.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>1113</td><td>3</td><td>Office Hour</td><td>Thursday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Marissa Y.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>CHE</td><td>2603</td><td>1</td><td>Han, Hyunsoo</td><td>Monday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 3</td><td>Benjamin J.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>2603</td><td>1</td><td>Han, Hyunsoo</td><td>Tuesday</td><td>1:00 PM</td><td>1:50 PM</td><td>os BB 3.04.18</td><td>Benjamin J.</td></tr>
<tr><td>CHE</td><td>2603</td><td>1</td><td>Han, Hyunsoo</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>os BB 3.04.18</td><td>Benjamin J.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>2603</td><td>1</td><td>Office Hour</td><td>Thursday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL 4.02.08</td><td>Benjamin J.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>CHE</td><td>2603</td><td>2</td><td>Schanze, Kirk</td><td>Tuesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 6</td><td>Anglea C.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>2603</td><td>2</td><td>Schanze, Kirk</td><td>Wednesday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL Study Room 6</td><td>Anglea C.</td></tr>
<tr><td>CHE</td><td>2603</td><td>2</td><td>Schanze, Kirk</td><td>Thursday</td><td>6:00 PM</td><td>6:50 PM</td><td>JPL Study Room 4</td><td>Anglea C.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>2603</td><td>2</td><td>Office Hour</td><td>Monday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Anglea C.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
<tr><td>CHE</td><td>2603</td><td>3</td><td>Dougherty, Victoria</td><td>Monday</td><td>10:00 AM</td><td>10:50 AM</td><td>MS 2.02.12</td><td>Gregory R.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>2603</td><td>3</td><td>Dougherty, Victoria</td><td>Wednesday</td><td>2:00 PM</td><td>2:50 PM</td><td>MS 2.03.18</td><td>Gregory R.</td></tr>
<tr><td>CHE</td><td>2603</td><td>3</td><td>Dougherty, Victoria</td><td>Thursday</td><td>7:30 PM</td><td>8:20 PM</td><td>MH 3.01.14</td><td>Gregory R.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>2603</td><td>3</td><td>Office Hour</td><td>Friday</td><td>9:00 AM</td><td>9:50 AM</td><td>JPL 4.02.08</td><td>Gregory R.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>CHE</td><td>2603</td><td>4 & 5</td><td>Negrete, George</td><td>Monday </td><td>3:00 PM</td><td>3:50 PM</td><td>MS 2.03.08 </td><td>Alejandro R.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>2603</td><td>4 & 5</td><td>Negrete, George</td><td>Tuesday</td><td>1:00 PM</td><td>1:50 PM</td><td>os FLN 2.03.08</td><td>Alejandro R.</td></tr>
<tr><td>CHE</td><td>2603</td><td>4 & 5</td><td>Negrete, George</td><td>Thursday</td><td>1:00 PM</td><td>1:50 PM</td><td>os FLN 2.03.08</td><td>Alejandro R.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>2603</td><td>4 & 5</td><td>Negrete, George</td><td>Friday </td><td>3:00 PM</td><td>3:50 PM</td><td>FLN 2.03.08</td><td>Alejandro R.</td></tr>
<tr><td>CHE</td><td>2603</td><td>4 & 5</td><td>Office Hour</td><td>Friday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Alejandro R.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>CHE</td><td>2603</td><td>6</td><td>Dougherty, Victoria</td><td>Monday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL Study Room 7</td><td>Mark E.</td></tr>
<tr><td>CHE</td><td>2603</td><td>6</td><td>Dougherty, Victoria</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>MS 2.03.18</td><td>Mark E.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>2603</td><td>6</td><td>Dougherty, Victoria</td><td>Thursday</td><td>5:30 PM</td><td>6:20 PM</td><td>JPL Study Room 5</td><td>Mark E.</td></tr>
<tr><td>CHE</td><td>2603</td><td>6</td><td>Office Hour</td><td>Wednesday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL 4.02.08</td><td>Mark E.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>CHE</td><td>2603</td><td>7</td><td>Aguilar, Hector</td><td>Monday</td><td>4:00 PM</td><td>4:50 PM</td><td>MH 3.02.32</td><td>Zeinab Y.</td></tr>
<tr><td>CHE</td><td>2603</td><td>7</td><td>Aguilar, Hector</td><td>Tuesday</td><td>5:30 PM</td><td>6:20 PM</td><td>MS 2.02.20</td><td>Zeinab Y.</td></tr>
<tr bgcolor='DDEBF7'><td>CHE</td><td>2603</td><td>7</td><td>Aguilar, Hector</td><td>Thursday</td><td>5:30 PM</td><td>6:20 PM</td><td>MS 2.02.20</td><td>Zeinab Y.</td></tr>
<tr><td>CHE </td><td>2603</td><td>4 & 5</td><td>Office Hour</td><td>Tuesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL 4.02.08</td><td>Zeinab Y.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>CHE</td><td>2603</td><td>4 & 5</td><td>Office Hour </td><td>Wednesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL 4.02.08</td><td>Zeinab Y.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>CHE</td><td>2603</td><td>7</td><td>Office Hour</td><td>Wednesday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Zeinab Y.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>      



</tbody></table>
<p>&nbsp;</p>
</div>