<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table width="800" class="tableizer-table">
<thead>
  <tr class="tableizer-firstrow">
    <th colspan="9">Classics</th>
    </tr>
  <tr></thead>
  <tbody>
 <tr>
   <td><div align="center"><strong>Subject</strong></div></td><td><div align="center"><strong>Course</strong></div></td>
   <td><div align="center"><strong>Section</strong></div></td>
   <td><div align="center"><strong>Instructor</strong></div></td><td><div align="center"><strong>Day</strong></div></td>
   <td><div align="center"><strong>Start</strong></div></td><td><div align="center"><strong>End</strong></div></td>
   <td><div align="center"><strong>Location</strong></div></td><td><div align="center"><strong>Leader</strong></div></td></tr>
 
<tr bgcolor="#DDEBF7"><td>CLA</td><td>2323</td><td>3&4</td><td>Rosenberg, Susan</td><td>Monday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 5</td><td>Natalia</td></tr>
<tr><td>CLA</td><td>2323</td><td>3&4</td><td>Rosenberg, Susan</td><td>Tuesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 5</td><td>Natalia</td></tr>
<tr bgcolor="#DDEBF7"><td>CLA</td><td>2323</td><td>3&4</td><td>Rosenberg, Susan</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 5</td><td>Natalia</td></tr>
<tr><td>CLA</td><td>2323</td><td>3&4</td><td>Rosenberg, Susan</td><td>Thursday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 5</td><td>Natalia</td></tr>
<tr bgcolor="#DDEBF7"><td>CLA</td><td>2323</td><td>3&4</td><td>Office Hour</td><td>Tuesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Natalia</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>



</tbody></table>
<p>&nbsp;</p>
</div>