<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table width="800" class="tableizer-table">
<thead>
  <tr class="tableizer-firstrow">
    <th colspan="9">Criminal Justice</th>
    </tr>
  <tr></thead>
  <tbody>
 <tr>
      <!--Title-->
   <td><div align="center"><strong>Subject</strong></div></td><td><div align="center"><strong>Course</strong></div></td>
   <td><div align="center"><strong>Section</strong></div></td>
   <td><div align="center"><strong>Instructor</strong></div></td><td><div align="center"><strong>Day</strong></div></td>
   <td><div align="center"><strong>Start</strong></div></td><td><div align="center"><strong>End</strong></div></td>
   <td><div align="center"><strong>Location</strong></div></td><td><div align="center"><strong>Leader</strong></div></td></tr>
 
    <!--Body-->
<tr><td>CRJ</td><td>1113</td><td>1</td><td>Meade, Henry</td><td>Wednesday </td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 4</td><td>Anna-Marie D.</td></tr>
<tr bgcolor='DDEBF7'><td>CRJ</td><td>1113</td><td>1</td><td>Meade, Henry</td><td>Friday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 5</td><td>Anna-Marie D.</td></tr>
<tr><td>CRJ</td><td>1113</td><td>1</td><td>Office Hour</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Anna-Marie D.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>CRJ</td><td>1113</td><td>2</td><td>Bauer, Walter</td><td>Monday</td><td>2:00 PM</td><td>2:50 PM</td><td>MS 2.03.18</td><td>Anna-Marie D.</td></tr>
<tr><td>CRJ</td><td>1113</td><td>2</td><td>Bauer, Walter</td><td>Wednesday </td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 8</td><td>Anna-Marie D.</td></tr>
<tr bgcolor='DDEBF7'><td>CRJ</td><td>1113</td><td>2</td><td>Bauer, Walter</td><td>Friday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 8</td><td>Anna-Marie D.</td></tr>
<tr><td>CRJ</td><td>1113</td><td>2</td><td>Office Hour</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Anna-Marie D.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>



</tbody></table>
<p>&nbsp;</p>
</div>