<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table width="848" class="tableizer-table">
<thead>
  <tr class="tableizer-firstrow">
    <th colspan="9">Economics</th>
    </tr>
  <tr></thead>
  <tbody>
 <tr>
      <!--Title-->
   <td><div align="center"><strong>Subject</strong></div></td><td><div align="center"><strong>Course</strong></div></td>
   <td><div align="center"><strong>Section</strong></div></td>
   <td><div align="center"><strong>Instructor</strong></div></td><td><div align="center"><strong>Day</strong></div></td>
   <td><div align="center"><strong>Start</strong></div></td><td><div align="center"><strong>End</strong></div></td>
   <td><div align="center"><strong>Location</strong></div></td><td><div align="center"><strong>Leader</strong></div></td></tr>
 
    <!--Body-->
        <tr bgcolor='DDEBF7'><td>ECO</td><td>2013</td><td>3</td><td>Ghossoub, Edgar</td><td>Monday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 11</td><td>Andre G.</td></tr>
<tr><td>ECO</td><td>2013</td><td>3</td><td>Ghossoub, Edgar</td><td>Wednesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 11</td><td>Andre G.</td></tr>
<tr bgcolor='DDEBF7'><td>ECO</td><td>2013</td><td>3</td><td>Ghossoub, Edgar</td><td>Wednesday</td><td>7:30 PM</td><td>8:20 PM</td><td>JPL Study Room 3</td><td>Andre G.</td></tr>
<tr><td>ECO</td><td>2013</td><td>3</td><td>Office Hour</td><td>Friday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL 4.02.08</td><td>Andre G.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>ECO</td><td>2013</td><td>4 & 5</td><td>Firoozi, Fathali</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>MH 3.02.48</td><td>Tomiwa O.</td></tr>
<tr><td>ECO</td><td>2013</td><td>4 & 5</td><td>Firoozi, Fathali</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>MH 2.02.06</td><td>Tomiwa O.</td></tr>
<tr bgcolor='DDEBF7'><td>ECO</td><td>2013</td><td>4 & 5</td><td>Firoozi, Fathali</td><td>Wednesday</td><td>1:00 PM</td><td>1:50 PM</td><td>MH 3.02.48</td><td>Tomiwa O.</td></tr>
<tr bgcolor='DDEBF7'><td>ECO</td><td>2013</td><td>4 & 5</td><td>Office Hour</td><td>Thursday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL 4.02.08</td><td>Tomiwa O.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>ECO</td><td>2023</td><td>1</td><td>Doss, Leslie</td><td>Monday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 7</td><td>Vincent R.</td></tr>
<tr bgcolor='DDEBF7'><td>ECO</td><td>2023</td><td>1</td><td>Doss, Leslie</td><td>Tuesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 9</td><td>Vincent R.</td></tr>
<tr><td>ECO</td><td>2023</td><td>1</td><td>Doss, Leslie</td><td>Wednesday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 6</td><td>Vincent R.</td></tr>
<tr bgcolor='DDEBF7'><td>ECO</td><td>2023</td><td>1</td><td>Office Hour</td><td>Thursday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL 4.02.08</td><td>Vincent R.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>ECO</td><td>2023</td><td>2</td><td>Welch, Richard</td><td>Monday</td><td>5:30 PM</td><td>6:20 PM</td><td>JPL Study Room 6</td><td>William H.</td></tr>
<tr bgcolor='DDEBF7'><td>ECO</td><td>2023</td><td>2</td><td>Welch, Richard</td><td>Tuesday</td><td>2:30 PM</td><td>3:20 PM</td><td>JPL Study Room 6</td><td>William H.</td></tr>
<tr><td>ECO</td><td>2023</td><td>2</td><td>Welch, Richard</td><td>Wednesday</td><td>5:30 PM</td><td>6:20 PM</td><td>JPL Study Room 6</td><td>William H.</td></tr>
<tr bgcolor='DDEBF7'><td>ECO</td><td>2023</td><td>2</td><td>Office Hour</td><td>Thursday</td><td>2:30 PM</td><td>3:20 PM</td><td>JPL 4.02.08</td><td>William H.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>ECO</td><td>2023</td><td>3</td><td>Rightmyer, Johnathan</td><td>Monday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL Study Room 4</td><td>Rachel O.</td></tr>
<tr bgcolor='DDEBF7'><td>ECO</td><td>2023</td><td>3</td><td>Rightmyer, Johnathan</td><td>Wednesday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL Study Room 4</td><td>Rachel O.</td></tr>
<tr><td>ECO</td><td>2023</td><td>3</td><td>Rightmyer, Johnathan</td><td>Friday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 4</td><td>Rachel O.</td></tr>
<tr bgcolor='DDEBF7'><td>ECO</td><td>2023</td><td>3</td><td>Office Hour</td><td>Wednesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Rachel O.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>ECO</td><td>2023</td><td>4</td><td>Flory-Truett, Lila</td><td>Tuesday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL Study Room 7</td><td>Maria M.</td></tr>
<tr bgcolor='DDEBF7'><td>ECO</td><td>2023</td><td>4</td><td>Flory-Truett, Lila</td><td>Wednesday </td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 10</td><td>Maria M.</td></tr>
<tr><td>ECO</td><td>2023</td><td>4</td><td>Flory-Truett, Lila</td><td>Thursday</td><td>6:00 PM</td><td>6:50 PM</td><td>JPL Study Room 6
</td><td>Maria M.</td></tr>
<tr bgcolor='DDEBF7'><td>ECO</td><td>2023</td><td>4</td><td>Office Hour</td><td>Tuesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL 4.02.08</td><td>Maria M.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>



</tbody></table>
<p>&nbsp;</p>
</div>