<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table width="850" class="tableizer-table">
<thead>
  <tr class="tableizer-firstrow">
    <th colspan="9">Engineering</th>
    </tr>
  <tr></thead>
  <tbody>
 <tr>
      <!--Title-->
   <td><div align="center"><strong>Subject</strong></div></td><td><div align="center"><strong>Course</strong></div></td>
   <td><div align="center"><strong>Section</strong></div></td>
   <td><div align="center"><strong>Instructor</strong></div></td><td><div align="center"><strong>Day</strong></div></td>
   <td><div align="center"><strong>Start</strong></div></td><td><div align="center"><strong>End</strong></div></td>
   <td><div align="center"><strong>Location</strong></div></td><td><div align="center"><strong>Leader</strong></div></td></tr>
 
    <!--Body-->
      <tr bgcolor="#DDEBF7"><td>EGR </td><td>2103</td><td>1</td><td>Joseph, John</td><td>Tue</td><td>2:30 PM</td><td>3:20 PM</td><td>JPL Study Room 9</td><td>Daniela R.</td></tr>
      <tr><td>EGR </td><td>2103</td><td>1</td><td>Joseph, John</td><td>Thu</td><td>2:30 PM</td><td>3:20 PM</td><td>JPL Study Room 10</td><td>Daniela R.</td></tr>
      <tr bgcolor="#DDEBF7"><td>EGR </td><td>2103</td><td>1</td><td>Joseph, John</td><td>Wed</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 9</td><td>Daniela R.</td></tr>
      <tr><td>EGR </td><td>2103</td><td>1</td><td>Office Hour</td><td>Tue</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Daniela R.</td></tr>
      <tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

      <tr bgcolor="#DDEBF7"><td>EGR </td><td>2103</td><td>2&3</td><td>Santamaria Gonzalez, Patricio</td><td>Mon</td>
        <td width="63">5:00 PM</td>
        <td width="66">5:50 PM</td>
        <td width="138">JPL Study Room    4</td>
      <td>Daniel G.</td></tr>
      <tr><td>EGR </td><td>2103</td><td>2&3</td><td>Santamaria Gonzalez, Patricio</td><td>Wed</td>
        <td>5:00 PM</td>
        <td>5:50 PM</td>
        <td>JPL Study Room 4</td>
      <td>Daniel G.</td></tr>
      <tr bgcolor="#DDEBF7"><td>EGR </td><td>2103</td><td>2&3</td><td>Santamaria Gonzalez, Patricio</td><td>Fri</td>
        <td>3:00 PM</td>
        <td>3:50 PM</td>
        <td>JPL Study Room 4</td>
      <td>Daniel G.</td></tr>
      <tr><td>EGR </td><td>2103</td><td>2&3</td><td>Office Hour</td><td>Tue</td><td>12:00 AM</td><td>12:50 AM</td><td>JPL 4.02.08</td><td>Daniel G.</td></tr>
      <tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>


</tbody></table>
<p>&nbsp;</p>
</div>