<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table width="820" class="tableizer-table">
<thead>
  <tr class="tableizer-firstrow">
    <th colspan="9">Geography and Environmental Sustainability (GES)</th>
    </tr>
  <tr></thead>
  <tbody>
 <tr>
      <!--Title-->
   <td><div align="center"><strong>Subject</strong></div></td><td><div align="center"><strong>Course</strong></div></td>
   <td><div align="center"><strong>Section</strong></div></td>
   <td><div align="center"><strong>Instructor</strong></div></td><td><div align="center"><strong>Day</strong></div></td>
   <td><div align="center"><strong>Start</strong></div></td><td><div align="center"><strong>End</strong></div></td>
   <td><div align="center"><strong>Location</strong></div></td><td><div align="center"><strong>Leader</strong></div></td></tr>
 
    <!--Body-->
<tr><td>GES</td><td>1023</td><td>2</td><td>De Oliver, Miguel</td><td>Tuesday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL Study Room 5</td><td>Ryan W.</td></tr>
<tr bgcolor='DDEBF7'><td>GES</td><td>1023</td><td>2</td><td>De Oliver, Miguel</td><td>Wednesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 8</td><td>Ryan W.</td></tr>
<tr><td>GES</td><td>1023</td><td>2</td><td>De Oliver, Miguel</td><td>Thursday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 4</td><td>Ryan W.</td></tr>
<tr bgcolor='DDEBF7'><td>GES</td><td>1023</td><td>2</td><td>Office Hour</td><td>Wednesday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL 4.02.08</td><td>Ryan W.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>GES</td><td>2613</td><td>2 & 3</td><td>Vaughan, James</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>MH 3.04.20 </td><td>Luis P.</td></tr>
<tr bgcolor='DDEBF7'><td>GES</td><td>2613</td><td>2 & 3</td><td>Vaughan, James</td><td>Tuesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 10</td><td>Luis P.</td></tr>
<tr><td>GES</td><td>2613</td><td>2 & 3</td><td>Vaughan, James</td><td>Wednesday</td><td>4:00 PM</td><td>4:50 PM</td><td>MH 3.04.20 </td><td>Luis P.</td></tr>
<tr bgcolor='DDEBF7'><td>GES</td><td>2613</td><td>2 & 3</td><td>Vaughan, James</td><td>Friday</td><td>1:00 PM</td><td>1:50 PM</td><td>MH 3.03.12</td><td>Luis P.</td></tr>
<tr><td>GES</td><td>2613</td><td>2 & 3</td><td>Office Hour</td><td>Friday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL 4.02.08</td><td>Luis P.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>GES</td><td>2613</td><td>4</td><td>Owens, Raluca</td><td>Monday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 4</td><td>Sierra R.</td></tr>
<tr><td>GES</td><td>2613</td><td>4</td><td>Owens, Raluca</td><td>Wednesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 9</td><td>Sierra R.</td></tr>
<tr bgcolor='DDEBF7'><td>GES</td><td>2613</td><td>4</td><td>Owens, Raluca</td><td>Friday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 11</td><td>Sierra R.</td></tr>
<tr><td>GES</td><td>2613</td><td>4</td><td>Office Hour</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Sierra R.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
<tr bgcolor='DDEBF7'><td>GES</td><td>2613</td><td>5</td><td>Melancon, Matthew</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 11</td><td>Katie A.</td></tr>
<tr><td>GES</td><td>2613</td><td>5</td><td>Melancon, Matthew</td><td>Tuesday</td><td>6:00 PM</td><td>6:50 PM</td><td>JPL Study Room 5</td><td>Katie A.</td></tr>
<tr bgcolor='DDEBF7'><td>GES</td><td>2613</td><td>5</td><td>Melancon, Matthew</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>MB 0.208</td><td>Katie A.</td></tr>
<tr><td>GES</td><td>2613</td><td>5</td><td>Office Hour</td><td>Tuesday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL 4.02.08</td><td>Katie A.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>




</tbody></table>
<p>&nbsp;</p>
</div>