<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
  <table width="880" class="tableizer-table">
    <thead>
      <tr class="tableizer-firstrow">
        <th colspan="9">Geology</th>
      </tr>
      <tr></thead>
        <tbody>
         <tr>
          <!--Title-->
          <td><div align="center"><strong>Subject</strong></div></td><td><div align="center"><strong>Course</strong></div></td>
          <td><div align="center"><strong>Section</strong></div></td>
          <td><div align="center"><strong>Instructor</strong></div></td><td><div align="center"><strong>Day</strong></div></td>
          <td><div align="center"><strong>Start</strong></div></td><td><div align="center"><strong>End</strong></div></td>
          <td><div align="center"><strong>Location</strong></div></td><td><div align="center"><strong>Leader</strong></div></td></tr>
          
          <!--Body-->
          <tr bgcolor='DDEBF7'><td>GEO</td><td>1013</td><td>1</td><td>Mestas-Nunez, Alberto</td><td>Monday </td><td>6:00 PM</td><td>6:50 PM</td><td>JPL Study Room 4</td><td>Brandon G.</td></tr>
<tr><td>GEO</td><td>1013</td><td>1</td><td>Mestas-Nunez, Alberto</td><td>Wednesday </td><td>6:00 PM</td><td>6:50 PM</td><td>JPL Study Room 5</td><td>Brandon G.</td></tr>

<tr><td>GEO</td><td>1013</td><td>1</td><td>Office Hour</td><td>Thursday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL 4.02.08</td><td>Brandon G.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>GEO</td><td>1013</td><td>2 & 3</td><td>Kelley, Jessica</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>MH 3.03.12</td><td>Uchechi N.</td></tr>
<tr><td>GEO</td><td>1013</td><td>2 & 3</td><td>Kelley, Jessica</td><td>Tuesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 8</td><td>Uchechi N.</td></tr>
<tr bgcolor='DDEBF7'><td>GEO</td><td>1013</td><td>2 & 3</td><td>Kelley, Jessica</td><td>Tuesday</td><td>5:30 PM</td><td>6:20 PM</td><td>JPL Study Room 3</td><td>Uchechi N.</td></tr>
<tr><td>GEO</td><td>1013</td><td>2 & 3</td><td>Kelley, Jessica</td><td>Thursday</td><td>5:30 PM</td><td>6:20 PM</td><td>JPL Study Room 3</td><td>Uchechi N.</td></tr>
<tr bgcolor='DDEBF7'><td>GEO</td><td>1013</td><td>2 & 3</td><td>Office Hour</td><td>Friday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Uchechi N.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>


        </tbody></table>
        <p>&nbsp;</p>
      </div>