<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
  <table width="850" class="tableizer-table">
    <thead>
      <tr class="tableizer-firstrow">
        <th colspan="9">History</th>
      </tr>
      <tr></thead>
        <tbody>
         <tr>
          <!--Title-->
          <td><div align="center"><strong>Subject</strong></div></td><td><div align="center"><strong>Course</strong></div></td>
          <td><div align="center"><strong>Section</strong></div></td>
          <td><div align="center"><strong>Instructor</strong></div></td><td><div align="center"><strong>Day</strong></div></td>
          <td><div align="center"><strong>Start</strong></div></td><td><div align="center"><strong>End</strong></div></td>
          <td><div align="center"><strong>Location</strong></div></td><td><div align="center"><strong>Leader</strong></div></td></tr>
          
          <!--Body-->
<tr><td>HIS</td><td>1043</td><td>1 & 4</td><td>Hansen, David</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 3</td><td>Heather W.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1043</td><td>1 & 4</td><td>Hansen, David</td><td>Wednesday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL Study Room 3</td><td>Heather W.</td></tr>
<tr><td>HIS</td><td>1043</td><td>1 & 4</td><td>Hansen, David</td><td>Friday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 3</td><td>Heather W.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1043</td><td>1 & 4</td><td>Office Hour</td><td>Tuesday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Heather W.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>HIS</td><td>1043</td><td>3</td><td>Carr-Shanahan, John</td><td>Monday</td><td>12:00 PM</td><td>12:50 PM</td><td>MH 2.01.08</td><td>Kristen B.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1043</td><td>3</td><td>Carr-Shanahan, John</td><td>Wednesday</td><td>10:00 AM</td><td>10:50 AM</td><td>MH 3.03.06</td><td>Kristen B.</td></tr>
<tr><td>HIS</td><td>1043</td><td>3</td><td>Carr-Shanahan, John</td><td>Friday</td><td>12:00 PM</td><td>12:50 PM</td><td>MH 3.02.32</td><td>Kristen B.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1043</td><td>3</td><td>Office Hour</td><td>Monday</td><td>9:00 AM</td><td>9:50 AM</td><td>JPL 4.02.08</td><td>Kristen B.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>HIS</td><td>1043</td><td>5</td><td>Turney, Elaine</td><td>Monday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 4</td><td>Aashish D.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1043</td><td>5</td><td>Turney, Elaine</td><td>Wednesday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 11</td><td>Aashish D.</td></tr>
<tr><td>HIS</td><td>1043</td><td>5</td><td>Turney, Elaine</td><td>Friday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 3</td><td>Aashish D.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1043</td><td>5</td><td>Office Hour</td><td>Friday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Aashish D.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>HIS</td><td>1043</td><td>6 & 9</td><td>Hicks, Lesli</td><td>Monday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 3</td><td>Vincent R.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1043</td><td>6 & 9</td><td>Hicks, Lesli</td><td>Tuesday</td><td>10:00 AM</td><td>10:50 AM</td><td>os MH 2.01.24</td><td>Vincent R.</td></tr>
<tr><td>HIS</td><td>1043</td><td>6 & 9</td><td>Hicks, Lesli</td><td>Thursday</td><td>10:00 AM</td><td>10:50 AM</td><td>os MH 2.01.24
</td><td>Vincent R.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1043</td><td>6 & 9</td><td>Office Hour</td><td>Thursday</td><td>4:00 PM</td><td>4:50 PM</td><td>os MH 2.01.24</td><td>Vincent R.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>HIS</td><td>1043</td><td>7 & 8</td><td>Peterson, Jodi</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 5</td><td>Camrie W.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1043</td><td>7 & 8</td><td>Peterson, Jodi</td><td>Tuesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 5</td><td>Camrie W.</td></tr>
<tr><td>HIS</td><td>1043</td><td>7 & 8</td><td>Peterson, Jodi</td><td>Wednesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 5</td><td>Camrie W.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1043</td><td>7 & 8</td><td>Peterson, Jodi</td><td>Thursday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 5</td><td>Camrie W.</td></tr>
<tr><td>HIS</td><td>1043</td><td>7 & 8</td><td>Office Hour</td><td>Wednesday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL 4.02.08</td><td>Camrie W.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>HIS</td><td>1043</td><td>10</td><td>Carlisle, Kimberly</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 6</td><td>Hector M.</td></tr>
<tr><td>HIS</td><td>1043</td><td>10</td><td>Carlisle, Kimberly</td><td>Tuesday</td><td>7:25 PM</td><td>8:15 PM</td><td>JPL Study Room 5</td><td>Hector M.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1043</td><td>10</td><td>Carlisle, Kimberly</td><td>Thursday</td><td>7:25 PM</td><td>8:15 PM</td><td>JPL Study Room 5</td><td>Hector M.</td></tr>
<tr><td>HIS</td><td>1043</td><td>10</td><td>Office Hour</td><td>Wednesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL 4.02.08</td><td>Hector M.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>HIS</td><td>1053</td><td>1 & 2</td><td>Minten, Rhonda</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 3</td><td>Aashish D.</td></tr>
<tr><td>HIS</td><td>1053</td><td>1 & 2</td><td>Minten, Rhonda</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 8</td><td>Aashish D.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1053</td><td>1 & 2</td><td>Minten, Rhonda</td><td>Friday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 3</td><td>Aashish D.</td></tr>
<tr><td>HIS</td><td>1053</td><td>1 & 2</td><td>Office Hour</td><td>Friday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Aashish D.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>HIS</td><td>1053</td><td>3 & 6</td><td>Turney, Elaine</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>MH 3.03.06</td><td>Jahna L.</td></tr>
<tr><td>HIS</td><td>1053</td><td>3 & 6</td><td>Turney, Elaine</td><td>Tuesday</td><td>11:30 AM</td><td>12:20 PM</td><td>MS 2.03.02</td><td>Jahna L.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1053</td><td>3 & 6</td><td>Turney, Elaine</td><td>Wednesday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 6</td><td>Jahna L.</td></tr>
<tr><td>HIS</td><td>1053</td><td>3 & 6</td><td>Turney, Elaine</td><td>Thursday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 3</td><td>Jahna L.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1053</td><td>3 & 6</td><td>Office Hour</td><td>Thursday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL 4.02.08</td><td>Jahna L.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>HIS</td><td>1053</td><td>4 & 7</td><td>Dilley, Jennifer</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>MH 2.01.08</td><td>Katheryn S.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1053</td><td>4 & 7</td><td>Dilley, Jennifer</td><td>Tuesday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 4</td><td>Katheryn S.</td></tr>
<tr><td>HIS</td><td>1053</td><td>4 & 7</td><td>Dilley, Jennifer</td><td>Wednesday</td><td>3:00 PM</td><td>3:50 PM</td><td>MH 2.01.08</td><td>Katheryn S.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1053</td><td>4 & 7</td><td>Office Hour</td><td>Thursday </td><td>10:00AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Katheryn S.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

<tr bgcolor='DDEBF7'><td>HIS</td><td>1053</td><td>5 & 8</td><td>Hansen, David</td><td>Tuesday</td><td>12:00 PM</td><td>12:50 PM</td><td>MH 3.03.12</td><td>Brooke A.</td></tr>
<tr><td>HIS</td><td>1053</td><td>5 & 8</td><td>Hansen, David</td><td>Tuesday</td><td>4:00 PM</td><td>4:50 PM</td><td>MS 2.03.02</td><td>Brooke A.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1053</td><td>5 & 8</td><td>Hansen, David</td><td>Thursday</td><td>11:30 AM</td><td>12:20 PM</td><td>MH 3.02.48
</td><td>Brooke A.</td></tr>
<tr><td>HIS</td><td>1053</td><td>9</td><td>Browning, Robert</td><td>Tuesday</td><td>6:00 PM</td><td>6:50 PM</td><td>JPL Study Room 5</td><td>Justin B.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1053</td><td>9</td><td>Browning, Robert</td><td>Wednesday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL Study Room 8</td><td>Justin B.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1053</td><td>9</td><td>Office Hour</td><td>Thursday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL 4.02.08</td><td>Justin B.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>HIS</td><td>1053</td><td>10</td><td>Peterson, Jodi</td><td>Monday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 5</td><td>Camrie W.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1053</td><td>10</td><td>Peterson, Jodi</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 5</td><td>Camrie W.</td></tr>
<tr><td>HIS</td><td>1053</td><td>10</td><td>Peterson, Jodi</td><td>Wednesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 5</td><td>Camrie W.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>1053</td><td>10</td><td>Office Hour</td><td>Wednesday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL 4.02.08</td><td>Camrie W.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>HIS</td><td>2053</td><td>1</td><td>Minten, Rhonda</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 8</td><td>Sage M.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>2053</td><td>1</td><td>Minten, Rhonda</td><td>Wednesday</td><td>1:00 PM</td><td>1:50 PM</td><td>MH 3.03.10</td><td>Sage M.</td></tr>
<tr><td>HIS</td><td>2053</td><td>1</td><td>Minten, Rhonda</td><td>Friday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 8</td><td>Sage M.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>2053</td><td>1</td><td>Office Hour</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL 4.02.08</td><td>Sage M.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>HIS</td><td>2053</td><td>3</td><td>Turney, Elaine</td><td>Tuesday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL Study Room 3</td><td>Secile G.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>2053</td><td>3</td><td>Turney, Elaine</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 6</td><td>Secile G.</td></tr>
<tr><td>HIS</td><td>2053</td><td>3</td><td>Turney, Elaine</td><td>Thursday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 4</td><td>Secile G.</td></tr>
<tr bgcolor='DDEBF7'><td>HIS</td><td>2053</td><td>3</td><td>Office Hour</td><td>Thursday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Secile G.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
          




        </tbody></table>
        <p>&nbsp;</p>
      </div>