<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table width="870" class="tableizer-table">
<thead>
  <tr class="tableizer-firstrow">
    <th colspan="9">Kinesiology</th>
    </tr></thead>
  <tbody>
 <tr>
      <!--Title-->
   <td><div align="center"><strong>Subject</strong></div></td><td><div align="center"><strong>Course</strong></div></td>
   <td><div align="center"><strong>Section</strong></div></td>
   <td><div align="center"><strong>Instructor</strong></div></td><td><div align="center"><strong>Day</strong></div></td>
   <td><div align="center"><strong>Start</strong></div></td><td><div align="center"><strong>End</strong></div></td>
   <td><div align="center"><strong>Location</strong></div></td><td><div align="center"><strong>Leader</strong></div></td></tr>

    <!--Body-->
      <tr bgcolor="#DDEBF7"><td>KIN</td><td>3323</td><td>1</td><td>Oyama, Sakiko</td><td>Mon</td>
        <td width="63">2:00 PM</td>
        <td width="66">2:50 PM</td>
        <td width="138">MH 3.03.06</td>
      <td>Josh K.</td></tr>
      <tr><td>KIN</td><td>3323</td><td>1</td><td>Oyama, Sakiko</td><td>Tue</td>
        <td>1:30 PM</td>
        <td>2:20 PM</td>
        <td>os MH 2.01.24</td>
      <td>Josh K.</td></tr>
      <tr bgcolor="#DDEBF7"><td>KIN</td><td>3323</td><td>1</td><td>Oyama, Sakiko</td><td>Fri</td>
        <td>2:00 PM</td>
        <td>2:50 PM</td>
        <td>MH 3.03.06</td>
      <td>Josh K.</td></tr>
      <tr><td>KIN</td><td>3323</td><td>1</td><td>Office Hour</td><td>Fri</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL 4.02.08</td><td>Josh K.</td></tr>
      <tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

      <tr bgcolor="#DDEBF7"><td>KIN</td><td>3433</td><td>1</td><td>Zhang, John </td>
        <td>Wed</td>
        <td>10:00 AM</td>
        <td>10:50 AM</td>
        <td>JPL Study Room    7</td>
      <td>Lauren P.</td></tr>
      <tr><td>KIN</td><td>3433</td><td>1</td><td>Zhang, John </td><td>Tue</td><td>2:30 PM</td><td>12:50 AM</td>
        <td>JPL Study Room    7</td>
      <td>Lauren P.</td></tr>
      <tr bgcolor="#DDEBF7"><td>KIN</td><td>3433</td><td>1</td><td>Zhang, John </td><td>Thu</td><td>2:30 PM</td><td>3:20 PM</td><td>JPL Study Room 7</td><td>Lauren P.</td></tr>
      <tr><td>KIN</td><td>3433</td><td>1</td><td>Office Hour</td><td>Fri</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Lauren P.</td></tr>
      <tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

</tbody></table>
<p>&nbsp;</p>
</div>