<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
  <table width="890" class="tableizer-table">
    <thead>
      <tr class="tableizer-firstrow">
        <th colspan="9">Management Science</th>
      </tr></thead>
      <tbody>
       <tr>
        <!--Title-->
        <td><div align="center"><strong>Subject</strong></div></td><td><div align="center"><strong>Course</strong></div></td>
        <td><div align="center"><strong>Section</strong></div></td>
        <td><div align="center"><strong>Instructor</strong></div></td><td><div align="center"><strong>Day</strong></div></td>
        <td><div align="center"><strong>Start</strong></div></td><td><div align="center"><strong>End</strong></div></td>
        <td><div align="center"><strong>Location</strong></div></td><td><div align="center"><strong>Leader</strong></div></td></tr>
        
        <!--Body-->
       <tr><td>MS</td><td>1023</td><td>3</td><td>Xu, Kefeng</td><td>Monday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 6</td><td>Angela G.</td></tr>
<tr bgcolor='DDEBF7'><td>MS</td><td>1023</td><td>3</td><td>Xu, Kefeng</td><td>Tuesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 6</td><td>Angela G.</td></tr>
<tr><td>MS</td><td>1023</td><td>3</td><td>Xu, Kefeng</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>MH 2.02.10</td><td>Angela G.</td></tr>
<tr bgcolor='DDEBF7'><td>MS</td><td>1023</td><td>3</td><td>Office Hour</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL 4.02.08</td><td>Angela G.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>MS</td><td>1023</td><td>4</td><td>Sun, Minghe</td><td>Tuesday</td><td>10:00 AM</td><td>10:50 AM</td><td>BB 3.04.04</td><td>Kaleb H.</td></tr>
<tr bgcolor='DDEBF7'><td>MS</td><td>1023</td><td>4</td><td>Sun, Minghe</td><td>Wednesday</td><td>11:00 AM</td><td>11:50 AM</td><td>MH 3.02.32</td><td>Kaleb H.</td></tr>
<tr><td>MS</td><td>1023</td><td>4</td><td>Sun, Minghe</td><td>Thursday</td><td>10:00 AM</td><td>10:50 AM</td><td>BB 3.04.04</td><td>Kaleb H.</td></tr>
<tr bgcolor='DDEBF7'><td>MS</td><td>1023</td><td>4</td><td>Office Hour</td><td>Monday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL 4.02.08</td><td>Kaleb H.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>MS</td><td>1023</td><td>5</td><td>Roberts, Cynthia</td><td>Monday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL Study Room 8</td><td>Jack J.</td></tr>
<tr bgcolor='DDEBF7'><td>MS</td><td>1023</td><td>5</td><td>Roberts, Cynthia</td><td>Tuesday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL Study Room 6</td><td>Jack J.</td></tr>
<tr><td>MS</td><td>1023</td><td>5</td><td>Roberts, Cynthia</td><td>Thursday </td><td>5:00 PM</td><td>5:50 PM</td><td>JPL Study Room 8</td><td>Jack J.</td></tr>
<tr bgcolor='DDEBF7'><td>MS</td><td>1023</td><td>5</td><td>Office Hour</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Jack J.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>MS</td><td>3043</td><td>1</td><td>Massaro, Kimberly</td><td>Tuesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 6</td><td>Hiram N.</td></tr>
<tr bgcolor='DDEBF7'><td>MS</td><td>3043</td><td>1</td><td>Massaro, Kimberly</td><td>Wednesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 11</td><td>Hiram N.</td></tr>
<tr><td>MS</td><td>3043</td><td>1</td><td>Massaro, Kimberly</td><td>Thursday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 6</td><td>Hiram N.</td></tr>
<tr bgcolor='DDEBF7'><td>MS</td><td>3043</td><td>1</td><td>Office Hour</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Hiram N.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>MS</td><td>3043</td><td>2 & 6</td><td>Kone, Bazoumana</td><td>Monday</td><td>9:00 PM</td><td>9:50 PM</td><td>BB 2.01.14</td><td>Kristy D.</td></tr>
<tr bgcolor='DDEBF7'><td>MS</td><td>3043</td><td>2 & 6</td><td>Kone, Bazoumana</td><td>Tuesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 3</td><td>Kristy D.</td></tr>
<tr><td>MS</td><td>3043</td><td>2 & 6</td><td>Kone, Bazoumana</td><td>Wednesday</td><td>9:00 PM</td><td>9:50 PM</td><td>BB 2.01.14</td><td>Kristy D.</td></tr>
<tr bgcolor='DDEBF7'><td>MS</td><td>3043</td><td>2 & 6</td><td>Kone, Bazoumana</td><td>Thursday</td><td>2:30 PM</td><td>3:20 PM</td><td>JPL Study Room 9</td><td>Kristy D.</td></tr>
<tr><td>MS</td><td>3043</td><td>2 & 6</td><td>Office Hour</td><td>Tuesday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL 4.02.08</td><td>Kristy D.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>MS</td><td>3043</td><td>4</td><td>Dell, Jacob</td><td>Tuesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 9</td><td>Matteo I.</td></tr>





      </tbody></table>
      <p>&nbsp;</p>
    </div>