<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
<table width="800" class="tableizer-table">
<thead>
  <tr class="tableizer-firstrow">
    <th colspan="9">Physics</th>
    </tr></thead>
  <tbody>
 <tr>
      <!--Title-->
   <td><div align="center"><strong>Subject</strong></div></td><td><div align="center"><strong>Course</strong></div></td>
   <td><div align="center"><strong>Section</strong></div></td>
   <td><div align="center"><strong>Instructor</strong></div></td><td><div align="center"><strong>Day</strong></div></td>
   <td><div align="center"><strong>Start</strong></div></td><td><div align="center"><strong>End</strong></div></td>
   <td><div align="center"><strong>Location</strong></div></td><td><div align="center"><strong>Leader</strong></div></td></tr>
 
    <!--Body-->
<tr bgcolor='DDEBF7'><td>PHY</td><td>1603</td><td>1 & 4</td><td>Koynova, Aneta</td><td>Tuesday </td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 4</td><td>Michael W.</td></tr>
<tr><td>PHY</td><td>1603</td><td>1 & 4</td><td>Koynova, Aneta</td><td>Thursday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 11</td><td>Michael W.</td></tr>
<tr bgcolor='DDEBF7'><td>PHY</td><td>1603</td><td>1 & 4</td><td>Koynova, Aneta</td><td>Friday </td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 6</td><td>Michael W.</td></tr>
<tr><td>PHY</td><td>1603</td><td>1 & 4</td><td>Office Hour</td><td>Wednesday </td><td>11:00 AM</td><td>12:00PM</td><td>JPL 4.02.08</td><td>Michael W.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>PHY</td><td>1603</td><td>2 & 5</td><td>Lopez-Lozano, Xochtil</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 4</td><td>Wendy H.</td></tr>
<tr><td>PHY</td><td>1603</td><td>2 & 5</td><td>Lopez-Lozano, Xochtil</td><td>Tuesday</td><td>2:30 PM</td><td>3:20 PM</td><td>JPL Study Room 4</td><td>Wendy H.</td></tr>
<tr><td>PHY</td><td>1603</td><td>2 & 5</td><td>Lopez-Lozano, Xochtil</td><td>Friday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 4</td><td>Wendy H.</td></tr>
<tr bgcolor='DDEBF7'><td>PHY</td><td>1603</td><td>2 & 5</td><td>Office Hour</td><td>Thursday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Wendy H.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>PHY</td><td>1603</td><td>6</td><td>Chen, Liao</td><td>Monday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 5</td><td>Candelario T.</td></tr>
<tr bgcolor='DDEBF7'><td>PHY</td><td>1603</td><td>6</td><td>Chen, Liao</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 5</td><td>Candelario T.</td></tr>
<tr><td>PHY</td><td>1603</td><td>6</td><td>Chen, Liao</td><td>Friday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL Study Room 5</td><td>Candelario T.</td></tr>
<tr bgcolor='DDEBF7'><td>PHY</td><td>1603</td><td>6</td><td>Office Hour</td><td>Monday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL 4.02.08</td><td>Candelario T.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

<tr bgcolor='DDEBF7'><td>PHY</td><td>1943</td><td>1</td><td>Sooby Wood, Elizabeth</td><td>Tuesday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL Study Room 6</td><td>Angelly R.</td></tr>
<tr><td>PHY</td><td>1943</td><td>1</td><td>Sooby Wood, Elizabeth</td><td>Friday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 4</td><td>Angelly R.</td></tr>
<tr bgcolor='DDEBF7'><td>PHY</td><td>1943</td><td>1</td><td>Office Hour</td><td>Tuesday </td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Angelly R.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>PHY</td><td>1943</td><td>2</td><td>Mayer, Ketheryn</td><td>Monday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 3</td><td>Jose B.</td></tr>
<tr bgcolor='DDEBF7'><td>PHY</td><td>1943</td><td>2</td><td>Mayer, Ketheryn</td><td>Wednesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 3</td><td>Jose B.</td></tr>
<tr><td>PHY</td><td>1943</td><td>2</td><td>Mayer, Ketheryn</td><td>Friday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 3</td><td>Jose B.</td></tr>
<tr bgcolor='DDEBF7'><td>PHY</td><td>1943</td><td>2</td><td>Office Hour</td><td>Wednesday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Jose B.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>PHY</td><td>1943</td><td>3</td><td>Koinov, Zlatko</td><td>Tuesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 3</td><td>Benjamin J.</td></tr>
<tr bgcolor='DDEBF7'><td>PHY</td><td>1943</td><td>3</td><td>Koinov, Zlatko</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 4</td><td>Benjamin J.</td></tr>
<tr><td>PHY</td><td>1943</td><td>3</td><td>Koinov, Zlatko</td><td>Thursday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 3</td><td>Benjamin J.</td></tr>
<tr bgcolor='DDEBF7'><td>PHY</td><td>1943</td><td>3</td><td>Office Hour</td><td>Wednesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Benjamin J.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>PHY</td><td>1943</td><td>4</td><td>Chabanov, Andrey</td><td>Monday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 7</td><td>Clarence B.</td></tr>
<tr bgcolor='DDEBF7'><td>PHY</td><td>1943</td><td>4</td><td>Chabanov, Andrey</td><td>Tuesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 7</td><td>Clarence B.</td></tr>
<tr><td>PHY</td><td>1943</td><td>4</td><td>Chabanov, Andrey</td><td>Wednesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 7</td><td>Clarence B.</td></tr>
<tr bgcolor='DDEBF7'><td>PHY</td><td>1943</td><td>4</td><td>Office Hour</td><td>Thursday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Clarence B.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
      



</tbody></table>
<p>&nbsp;</p>
</div>