<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
  <table width="890" class="tableizer-table">
    <thead>
      <tr class="tableizer-firstrow">
        <th colspan="9">Political Science</th>
      </tr>
      <tr>
      </thead>
      <tbody>
        <tr>
          <!--Title-->
          <td><div align="center"><strong>Subject</strong></div></td>
          <td><div align="center"><strong>Course</strong></div></td>
          <td><div align="center"><strong>Section</strong></div></td>
          <td><div align="center"><strong>Instructor</strong></div></td>
          <td><div align="center"><strong>Day</strong></div></td>
          <td><div align="center"><strong>Start</strong></div></td>
          <td><div align="center"><strong>End</strong></div></td>
          <td><div align="center"><strong>Location</strong></div></td>
          <td><div align="center"><strong>Leader</strong></div></td>
        </tr>


        <!--Body-->
       <tr><td>POL</td><td>1013</td><td>4 & 5</td><td>Floyd, Brent</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>MH 3.03.12</td><td>Gabrielle H.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1013</td><td>4 & 5</td><td>Floyd, Brent</td><td>Wednesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 4</td><td>Gabrielle H.</td></tr>
<tr><td>POL</td><td>1013</td><td>4 & 5</td><td>Floyd, Brent</td><td>Thursday </td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 4
</td><td>Gabrielle H.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1013</td><td>4 & 5</td><td>Office Hour</td><td>Wednesday </td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Gabrielle H.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>POL</td><td>1013</td><td>6</td><td>Floyd, Brent</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td> MH 3.02.32</td><td>Katheryn S.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1013</td><td>6</td><td>Floyd, Brent</td><td>Tuesday</td><td>11:30 AM</td><td>12:20 PM</td><td>os MH 2.01.12</td><td>Katheryn S.</td></tr>
<tr><td>POL</td><td>1013</td><td>6</td><td>Floyd, Brent</td><td>Wednesday</td><td>1:00 PM</td><td>1:50 PM</td><td>MH 3.03.16</td><td>Katheryn S.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1013</td><td>6</td><td>Office Hour</td><td>Monday</td><td>10:00 PM</td><td>10:50 PM</td><td>JPL 4.02.08</td><td>Katheryn S.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>POL</td><td>1013</td><td>7</td><td>Mathie, Mary</td><td>Monday </td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 7</td><td>Dylan D.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1013</td><td>7</td><td>Mathie, Mary</td><td>Tuesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 10</td><td>Dylan D.</td></tr>
<tr><td>POL</td><td>1013</td><td>7</td><td>Mathie, Mary</td><td>Wednesday</td><td>6:00 PM</td><td>6:50 PM</td><td>JPL Study Room 3</td><td>Dylan D.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1013</td><td>7</td><td>Office Hour</td><td>Friday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Dylan D.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td>
</tr><tr><td>POL</td><td>1013</td><td>8</td><td>Romero, David</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 9</td><td>Samantha H.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1013</td><td>8</td><td>Romero, David</td><td>Wednesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 4</td><td>Samantha H.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1013</td><td>8</td><td>Office Hour</td><td>Monday</td><td>8:00 AM</td><td>8:50 AM</td><td>JPL 4.02.08</td><td>Samantha H.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>POL</td><td>1013</td><td>9 & 11</td><td>Roomberg, Susan</td><td>Monday</td><td>2:30 PM</td><td>3:20 PM</td><td>MH 2.02.20</td><td>Halli J.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1013</td><td>9 & 11</td><td>Roomberg, Susan</td><td>Tuesday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 5</td><td>Halli J.</td></tr>
<tr><td>POL</td><td>1014</td><td>9 & 11</td><td>Roomberg, Susan</td><td>Thursday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 5</td><td>Halli J.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1013</td><td>9 & 11</td><td>Roomberg, Susan</td><td>Thursday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 8</td><td>Halli J.</td></tr>
<tr><td>POL</td><td>1013</td><td>9 & 11</td><td>Office Hour</td><td>Wednesday</td><td>2:30 PM</td><td>3:20 PM</td><td>JPL 4.02.08</td><td>Halli J.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>POL</td><td>1013</td><td>10 & 14</td><td>Albro, Ward</td><td>Tuesday</td><td>11:30 AM</td><td>12:20 PM</td><td>os MB 0.104</td><td>Shelbee P.</td></tr>
<tr><td>POL</td><td>1013</td><td>10 & 14</td><td>Albro, Ward</td><td>Wednesday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 5 </td><td>Shelbee P.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1013</td><td>10 & 14</td><td>Albro, Ward</td><td>Thursday</td><td>11:30 AM</td><td>12:20 PM</td><td>os MB 0.104</td><td>Shelbee P.</td></tr>
<tr><td>POL</td><td>1013</td><td>10 & 14</td><td>Office Hour</td><td>Monday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL 4.02.08</td><td>Shelbee P.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>POL</td><td>1013</td><td>13</td><td>Laracey, Melvin</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 7</td><td>Madison R.</td></tr>
<tr><td>POL</td><td>1013</td><td>13</td><td>Laracey, Melvin</td><td>Wednesday</td><td>1:00 PM</td><td>1:50 PM</td><td>MH 3.03.12</td><td>Madison R.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1013</td><td>13</td><td>Laracey, Melvin</td><td>Thursday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 7</td><td>Madison R.</td></tr>
<tr><td>POL</td><td>1013</td><td>13</td><td>Office Hour</td><td>Tuesday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Madison R.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>POL</td><td>1133</td><td>3 & 7</td><td>Esparza, Henry</td><td>Monday</td><td>4:00 PM</td><td>4:50 PM</td><td>MH 2.01.08 </td><td>Leah G.</td></tr>
<tr><td>POL</td><td>1133</td><td>3 & 7</td><td>Esparza, Henry</td><td>Tuesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 4</td><td>Leah G.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1133</td><td>3 & 7</td><td>Esparza, Henry</td><td>Wednesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 4</td><td>Leah G.</td></tr>
<tr><td>POL</td><td>1133</td><td>3 & 7</td><td>Esparza, Henry</td><td>Wednesday</td><td>4:00 PM</td><td>4:50 PM</td><td>MH 3.02.32</td><td>Leah G.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1133</td><td>3 & 7</td><td>Office Hour</td><td>Thursday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL 4.02.08</td><td>Leah G.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>POL</td><td>1133</td><td>4</td><td>Esparza, Henry</td><td>Tuesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 9</td><td>Tamarr D.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1133</td><td>4</td><td>Esparza, Henry</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 9</td><td>Tamarr D.</td></tr>
<tr><td>POL</td><td>1133</td><td>4</td><td>Esparza, Henry</td><td>Wednesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 7</td><td>Tamarr D.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1133</td><td>4</td><td>Office Hour</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL 4.02.08</td><td>Tamarr D.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>POL</td><td>1133</td><td>5 & 8</td><td>Navarro, Sharon</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 10</td><td>Gabriel A.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1133</td><td>5 & 8</td><td>Navarro, Sharon</td><td>Wednesday</td><td>3:00 PM</td><td>3:50 PM</td><td>MH 3.03.06</td><td>Gabriel A.</td></tr>
<tr><td>POL</td><td>1133</td><td>5 & 8</td><td>Navarro, Sharon</td><td>Thursday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 4</td><td>Gabriel A.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1133</td><td>5 & 8</td><td>Office Hour</td><td>Thursday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL 4.02.08</td><td>Gabriel A.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>POL</td><td>1133</td><td>9 & 10</td><td>Elarba, Bahih</td><td>Monday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 6</td><td>Victoria B.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1133</td><td>9 & 10</td><td>Elarba, Bahih</td><td>Tuesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 7</td><td>Victoria B.</td></tr>
<tr><td>POL</td><td>1133</td><td>9 & 10</td><td>Elarba, Bahih</td><td>Thursday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 6</td><td>Victoria B.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1133</td><td>9 & 10</td><td>Office Hour</td><td>Friday</td><td>9:00 AM</td><td>9:50 AM</td><td>JPL 4.02.08</td><td>Victoria B.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>POL</td><td>1133</td><td>11</td><td>Elarba, Bahih</td><td>Tuesday </td><td>1:00 PM</td><td>1:50 PM</td><td>os MB 0.106</td><td>Nicholas F.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1133</td><td>11</td><td>Elarba, Bahih</td><td>Wednesday </td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 3</td><td>Nicholas F.</td></tr>
<tr><td>POL</td><td>1133</td><td>11</td><td>Elarba, Bahih</td><td>Thursday </td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 7</td><td>Nicholas F.</td></tr>
<tr bgcolor='DDEBF7'><td>POL</td><td>1133</td><td>11</td><td>Office Hour</td><td>Monday </td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Nicholas F.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>



      </tbody>
    </table>
    <p>&nbsp;</p>
  </div>