<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
    <table width="860" class="tableizer-table">
        <thead>
            <tr class="tableizer-firstrow">
                <th colspan="9">Psychology</th>
            </tr>
            <tr>
        </thead>
        <tbody>
            <tr>
                <!--Title-->
                <td><div align="center"><strong>Subject</strong></div></td>
                <td><div align="center"><strong>Course</strong></div></td>
                <td><div align="center"><strong>Section</strong></div></td>
                <td><div align="center"><strong>Instructor</strong></div></td>
                <td><div align="center"><strong>Day</strong></div></td>
                <td><div align="center"><strong>Start</strong></div></td>
                <td><div align="center"><strong>End</strong></div></td>
                <td><div align="center"><strong>Location</strong></div></td>
                <td><div align="center"><strong>Leader</strong></div></td>
            </tr>


            <!--Body-->
          <tr><td>PSY</td><td>1013</td><td>1 & 2</td><td>Wainright, Katherine</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>MH 3.03.06</td><td>Madison M.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>1013</td><td>1 & 2</td><td>Wainright, Katherine</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>MH 3.03.06</td><td>Madison M.</td></tr>
<tr><td>PSY</td><td>1013</td><td>1 & 2</td><td>Wainright, Katherine</td><td>Thursday</td><td>1:00 PM</td><td>1:50 PM</td><td>MH 3.03.06</td><td>Madison M.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>1013</td><td>1 & 2</td><td>Office Hour</td><td>Wednesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Madison M.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>PSY</td><td>1013</td><td>3</td><td>Buchalski, Brenya</td><td>Monday</td><td>2:00 PM</td><td>2:50 PM</td><td>MS 2.01.06</td><td>Alexis L.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>1013</td><td>3</td><td>Buchalski, Brenya</td><td>Wednesday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 7</td><td>Alexis L.</td></tr>
<tr><td>PSY</td><td>1013</td><td>3</td><td>Buchalski, Brenya</td><td>Friday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 10</td><td>Alexis L.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>1013</td><td>3</td><td>Office Hour</td><td>Tuesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Alexis L.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
<tr><td>PSY</td><td>1013</td><td>4 & 5</td><td>Previc, Fred</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 4</td><td>Alejandra G.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>1013</td><td>4 & 5</td><td>Previc, Fred</td><td>Tuesday</td><td>2:30 PM</td><td>3:20 PM</td><td>JPL Study Room 5</td><td>Alejandra G.</td></tr>
<tr><td>PSY</td><td>1013</td><td>4 & 5</td><td>Previc, Fred</td><td>Wednesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 8</td><td>Alejandra G.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>1013</td><td>4 & 5</td><td>Previc, Fred</td><td>Thursday</td><td>2:30 PM</td><td>3:20 PM</td><td>JPL Study Room 5</td><td>Alejandra G.</td></tr>
<tr><td>PSY</td><td>1013</td><td>4 & 5</td><td>Office Hour</td><td>Friday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL 4.02.08</td><td>Alejandra G.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

<tr><td>PSY</td><td>1013</td><td>6</td><td>Previc, Fred</td><td>Tuesday</td><td>7:30 PM</td><td>8:20 PM</td><td>JPL Study Room 3</td><td>Marissa B.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>1013</td><td>6</td><td>Previc, Fred</td><td>Thursday</td><td>7:30 PM</td><td>8:20 PM</td><td>JPL Study Room 4</td><td>Marissa B.</td></tr>
<tr><td>PSY</td><td>1013</td><td>6</td><td>Office Hour</td><td>Wednesday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL 4.02.08</td><td>Marissa B.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>PSY</td><td>2073</td><td>1 & 2</td><td>Achorn, Eileen</td><td>Monday</td><td>12:00 PM</td><td>12:50 PM</td><td>MH 3.03.06</td><td>Christina P.</td></tr>
<tr><td>PSY</td><td>2073</td><td>1 & 2</td><td>Achorn, Eileen</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>MH 3.02.48</td><td>Christina P.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>2073</td><td>1 & 2</td><td>Achorn, Eileen</td><td>Wednesday</td><td>3:00 PM</td><td>3:50 PM</td><td>MH 3.03.12</td><td>Christina P.</td></tr>
<tr><td>PSY</td><td>2073</td><td>1 & 2</td><td>Achorn, Eileen</td><td>Thursday</td><td>2:30 PM</td><td>3:20 PM</td><td>MH 3.03.10</td><td>Christina P.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>2073</td><td>1 & 2</td><td>Office Hour</td><td>Friday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Christina P.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>PSY</td><td>2073</td><td>3</td><td>Pillow, David</td><td>Monday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL Study Room 5</td><td>Brooke A.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>2073</td><td>3</td><td>Pillow, David</td><td>Monday</td><td>7:30 PM</td><td>8:20 PM</td><td>JPL Study Room 5</td><td>Brooke A.</td></tr>
<tr><td>PSY</td><td>2073</td><td>3</td><td>Pillow, David</td><td>Wednesday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL Study Room 3</td><td>Brooke A.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>2073</td><td>3</td><td>Office Hour</td><td>Friday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Brooke A.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>PSY</td><td>2073</td><td>4</td><td>Crabtree, Meghan</td><td>Tuesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 11</td><td>Matthew E.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>2073</td><td>4</td><td>Crabtree, Meghan</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 11</td><td>Matthew E.</td></tr>
<tr><td>PSY</td><td>2073</td><td>4</td><td>Crabtree, Meghan</td><td>Thursday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 11</td><td>Matthew E.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>2073</td><td>4</td><td>Office Hour</td><td>Friday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Matthew E.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>PSY</td><td>2073</td><td>5</td><td>Hale, Willie</td><td>Tuesday</td><td>11:30 AM</td><td>12:20 PM</td><td>JPL Study Room 11</td><td>Shon T. B.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>2073</td><td>5</td><td>Hale, Willie</td><td>Thursday</td><td>11:30 AM</td><td>12:20 PM</td><td>JPL Study Room 10</td><td>Shon T. B.</td></tr>
<tr><td>PSY</td><td>2073</td><td>5</td><td>Hale, Willie</td><td>Thursday</td><td>2:30 PM</td><td>3:20 PM</td><td>JPL Study Room 11</td><td>Shon T. B.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>2073</td><td>5</td><td>Office Hour</td><td>Monday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL 4.02.08</td><td>Shon T. B.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

<tr bgcolor='DDEBF7'><td>PSY</td><td>2073</td><td>6</td><td>Dicocco, Margaret</td><td>Tuesday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL Study Room 4</td><td>Arthur H.</td></tr>
<tr><td>PSY</td><td>2073</td><td>6</td><td>Dicocco, Margaret</td><td>Thursday</td><td>5:00 PM</td><td>5:50 PM</td><td>JPL Study Room 11</td><td>Arthur H.</td></tr>
<tr bgcolor='DDEBF7'><td>PSY</td><td>2073</td><td>6</td><td>Office Hour</td><td>Monday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Arthur H.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

        </tbody>
    </table>
    <p>&nbsp;</p>
</div>