<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
    <table width="800" class="tableizer-table">
        <thead>
            <tr class="tableizer-firstrow">
                <th colspan="9">Sociology</th>
            </tr>
            <tr>
        </thead>
        <tbody>
            <tr>
                <!--Title-->
                <td><div align="center"><strong>Subject</strong></div></td>
                <td><div align="center"><strong>Course</strong></div></td>
                <td><div align="center"><strong>Section</strong></div></td>
                <td><div align="center"><strong>Instructor</strong></div></td>
                <td><div align="center"><strong>Day</strong></div></td>
                <td><div align="center"><strong>Start</strong></div></td>
                <td><div align="center"><strong>End</strong></div></td>
                <td><div align="center"><strong>Location</strong></div></td>
                <td><div align="center"><strong>Leader</strong></div></td>
            </tr>

            <!--Body-->
            <tr><td>SOC</td><td>1013</td><td>1</td><td>Miller, Donna</td><td>Monday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 9</td><td>Cristina M.</td></tr>
<tr bgcolor='DDEBF7'><td>SOC</td><td>1013</td><td>1</td><td>Miller, Donna</td><td>Monday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 10</td><td>Cristina M.</td></tr>
<tr><td>SOC</td><td>1013</td><td>1</td><td>Miller, Donna</td><td>Tuesday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 7</td><td>Cristina M.</td></tr>
<tr bgcolor='DDEBF7'><td>SOC</td><td>1013</td><td>1</td><td>Office Hour</td><td>Thursday</td><td>2:30 PM</td><td>3:20 PM</td><td>JPL 4.02.08</td><td>Cristina M.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>SOC</td><td>1013</td><td>2 & 7</td><td>Campbell, Favor</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 8</td><td>Shelbey U.</td></tr>
<tr bgcolor='DDEBF7'><td>SOC</td><td>1013</td><td>2 & 7</td><td>Campbell, Favor</td><td>Tuesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 8</td><td>Shelbey U.</td></tr>
<tr><td>SOC</td><td>1013</td><td>2 & 7</td><td>Campbell, Favor</td><td>Wednesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 8</td><td>Shelbey U.</td></tr>
<tr bgcolor='DDEBF7'><td>SOC</td><td>1013</td><td>2 & 7</td><td>Campbell, Favor</td><td>Thursday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 9</td><td>Shelbey U.</td></tr>
<tr><td>SOC</td><td>1013</td><td>2 & 7</td><td>Office Hour</td><td>Tuesday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Shelbey U.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr bgcolor='DDEBF7'><td>SOC</td><td>1013</td><td>3 & 4</td><td>Ford-Robertson, Joanne</td><td>Tuesday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL Study Room 4</td><td>Miranda BG</td></tr>
<tr><td>SOC</td><td>1013</td><td>3 & 4</td><td>Ford-Robertson, Joanne</td><td>Wednesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 5</td><td>Miranda BG</td></tr>
<tr bgcolor='DDEBF7'><td>SOC</td><td>1013</td><td>3 & 4</td><td>Ford-Robertson, Joanne</td><td>Thursday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 7</td><td>Miranda BG</td></tr>
<tr><td>SOC</td><td>1013</td><td>3 & 4</td><td>Ford-Robertson, Joanne</td><td>Friday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 7</td><td>Miranda BG</td></tr>
<tr bgcolor='DDEBF7'><td>SOC</td><td>1013</td><td>3</td><td>Office Hour</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Miranda BG</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr><tr><td>SOC</td><td>1013</td><td>8</td><td>Frame, Nicole</td><td>Tuesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 8</td><td>Zena G.</td></tr>
<tr bgcolor='DDEBF7'><td>SOC</td><td>1013</td><td>8</td><td>Frame, Nicole</td><td>Wednesday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 8</td><td>Zena G.</td></tr>
<tr><td>SOC</td><td>1013</td><td>8</td><td>Frame, Nicole</td><td>Thursday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL Study Room 8</td><td>Zena G.</td></tr>
<tr bgcolor='DDEBF7'><td>SOC</td><td>1013</td><td>8</td><td>Office Hour</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL 4.02.08</td><td>Zena G.</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>

        </tbody>
    </table>
    <p>&nbsp;</p>
</div>