<link href="/trcss/si/tabling.css" rel="stylesheet" type="text/css">

<div align="center">
    <table width="880" class="tableizer-table">
        <thead>
            <tr class="tableizer-firstrow">
                <th colspan="9">Statistics</th>
            </tr>
            <tr>
        </thead>
        <tbody>
            <tr>
                <!--Title-->
                <td><div align="center"><strong>Subject</strong></div></td>
                <td><div align="center"><strong>Course</strong></div></td>
                <td><div align="center"><strong>Section</strong></div></td>
                <td><div align="center"><strong>Instructor</strong></div></td>
                <td><div align="center"><strong>Day</strong></div></td>
                <td><div align="center"><strong>Start</strong></div></td>
                <td><div align="center"><strong>End</strong></div></td>
                <td><div align="center"><strong>Location</strong></div></td>
                <td><div align="center"><strong>Leader</strong></div></td>
            </tr>


            <!--Body-->
            <tr bgcolor="#DDEBF7"><td>STA</td><td>1053</td><td>1</td><td>Chacon, Henry</td><td>Tuesday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 3</td><td>TaMarr</td></tr>
<tr><td>STA</td><td>1053</td><td>1</td><td>Chacon, Henry</td><td>Thursday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL Study Room 3</td><td>TaMarr</td></tr>
<tr bgcolor="#DDEBF7"><td>STA</td><td>1053</td><td>1</td><td>Chacon, Henry</td><td>Friday</td><td>1:00 PM</td><td>1:50 PM</td><td>MH 3.03.10</td><td>TaMarr</td></tr>
<tr><td>STA</td><td>1053</td><td>1</td><td>Office Hour</td><td>Friday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL 4.02.08</td><td>TaMarr</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
<tr bgcolor="#DDEBF7"><td>STA</td><td>1053</td><td>2</td><td>Panda, Shantayan </td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 3</td><td>Evan</td></tr>
<tr><td>STA</td><td>1053</td><td>2</td><td>Panda, Shantayan </td><td>Wednesday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL Study Room 6</td><td>Evan</td></tr>
<tr bgcolor="#DDEBF7"><td>STA</td><td>1053</td><td>2</td><td>Panda, Shantayan </td><td>Friday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 8</td><td>Evan</td></tr>
<tr><td>STA</td><td>1053</td><td>2</td><td>Office Hour</td><td>Thursday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL 4.02.08</td><td>Evan</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
<tr bgcolor="#DDEBF7"><td>STA</td><td>1053</td><td>3&6</td><td>Massaro, Kimberly</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>JPL Study Room 8</td><td>Keysean</td></tr>
<tr><td>STA</td><td>1053</td><td>3&6</td><td>Massaro, Kimberly</td><td>Tuesday</td><td>11:30 AM</td><td>12:20 PM</td><td>JPL Study Room 3</td><td>Keysean</td></tr>
<tr bgcolor="#DDEBF7"><td>STA</td><td>1053</td><td>3&6</td><td>Massaro, Kimberly</td><td>Tuesday</td><td>2:30 PM</td><td>3:20 PM</td><td>MH 3.02.40</td><td>Keysean</td></tr>
<tr><td>STA</td><td>1053</td><td>3&6</td><td>Massaro, Kimberly</td><td>Wednesday</td><td>12:00 PM</td><td>12:50 PM</td><td>JPL Study Room 11</td><td>Keysean</td></tr>
<tr bgcolor="#DDEBF7"><td>STA</td><td>1053</td><td>3&6</td><td>Office Hour</td><td>Monday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL 4.02.08</td><td>Keysean</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
<tr><td>STA</td><td>1053</td><td>4</td><td>Roy, Anuradha</td><td>Monday</td><td>3:00 PM</td><td>3:50 PM</td><td>JPL Study Room 11</td><td>Chukwudumebi</td></tr>
<tr bgcolor="#DDEBF7"><td>STA</td><td>1053</td><td>4</td><td>Roy, Anuradha</td><td>Tuesday</td><td>2:30 PM</td><td>3:20 PM</td><td>JPL Study Room 4</td><td>Chukwudumebi</td></tr>
<tr><td>STA</td><td>1053</td><td>4</td><td>Roy, Anuradha</td><td>Wednesday</td><td>2:00 PM</td><td>2:50 PM</td><td>JPL Study Room 11</td><td>Chukwudumebi</td></tr>
<tr bgcolor="#DDEBF7"><td>STA</td><td>1053</td><td>4</td><td>Office Hour</td><td>Tuesday</td><td>4:00 PM</td><td>4:50 PM</td><td>JPL 4.02.08</td><td>Chukwudumebi</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>
<tr><td>STA</td><td>1053</td><td>7</td><td>Wang, Binbin</td><td>Monday</td><td>1:00 PM</td><td>1:50 PM</td><td>os BB 2.01.14</td><td>Jalynn</td></tr>
<tr bgcolor="#DDEBF7"><td>STA</td><td>1053</td><td>7</td><td>Wang, Binbin</td><td>Wednesday</td><td>5:30 PM</td><td>6:20 PM</td><td>MH 3.03.12</td><td>Jalynn</td></tr>
<tr><td>STA</td><td>1053</td><td>7</td><td>Wang, Binbin</td><td>Thursday</td><td>11:00 AM</td><td>11:50 AM</td><td>JPL Study Room 3</td><td>Jalynn</td></tr>
<tr bgcolor="#DDEBF7"><td>STA</td><td>1053</td><td>7</td><td>Office Hour</td><td>Tuesday</td><td>10:00 AM</td><td>10:50 AM</td><td>JPL 4.02.08</td><td>Jalynn</td></tr>
<tr bgcolor="#CCCCCC" style="line-height:5px"><td colspan="9">&nbsp;</td></tr>


        </tbody>
    </table>
    <p>&nbsp;</p>
</div>